.input-label {
    display: flex;
    font-weight: 700;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--size-2xs);
    align-items: baseline;
    font-size: var(--size-md);
    line-height: var(--size-xl);
    margin-bottom: var(--size-xs);

    &__optional {
        color: var(--color-gray-600);
        font-size: var(--size-sm);
        line-height: var(--size-lg);
        font-weight: 400;
    }
}