.select-box {
    width: 100%;
    appearance: none;
    border-radius: var(--size-3xs);
    border: var(--size-5xs) solid var(--color-gray-500);
    background-color: var(--color-white);
    font-family: inherit;
    padding-top: calc(var(--size-xs) - var(--size-5xs));
    padding-right: calc(3rem - var(--size-5xs));
    padding-bottom: calc(var(--size-xs) - var(--size-5xs));
    padding-left: calc(var(--size-md) - var(--size-5xs));
    font-size: var(--size-md);
    line-height: var(--size-xl);
    color: var(--color-gray-900);
    background-color: var(--color-white);

    &__wrapper {
        display: inline-block;
        width: 100%;
        position: relative;
    }

    &__icon {
        position: absolute;
        top: var(--size-xs);
        right: var(--size-xs);
        pointer-events: none;
    }

    &.has-error {
        border-color: var(--color-red-500);
    }

    @media (hover: hover) {
        &:hover {
            border-color: var(--color-gray-600);

            &.has-error {
                border-color: var(--color-red-600);
            }
        }
    }

    &:active {
        border-color: var(--color-gray-700);

        &.has-error {
            border-color: var(--color-gray-700);
        }
    }

    /* Styles for when "placeholder" is shown */
    &:has(option:checked[value=""]) {
        border-color: var(--color-gray-500);
        color: var(--color-gray-400);

        @media (hover: hover) {
            &:hover {
                border-color: var(--color-gray-600);
            }
        }

        &:active {
            border-color: var(--color-gray-700);
        }
    }

    &:disabled, &[aria-disabled="true"] {
        border-color: var(--color-gray-400);
        background-color: var(--color-gray-200);
        color: var(--color-gray-500);
        cursor: not-allowed;

        &:has(option:checked[value=""]) {
            border-color: var(--color-gray-400);
            color: var(--color-gray-400);
        }

        & + .select-box__icon {
            color: var(--color-gray-500);
        }
    }
}

.show-error-blank-but-required .select-box:required {
    &.has-error {
        border-color: var(--color-red-500);

        @media (hover: hover) {
            &:hover {
                border-color: var(--color-red-600);
            }
        }

        &:active {
            border-color: var(--color-red-700);
        }
    }
}
