.multi-select {
    &__wrapper {
        position: relative;
        cursor: default;
    }

    &__container {
        padding:
            calc(var(--size-3xs) - var(--size-5xs))
            calc(var(--size-5xl) - var(--size-5xs))
            calc(var(--size-3xs) - var(--size-5xs))
            calc(var(--size-2xs) - var(--size-5xs));
        border-radius: var(--size-3xs);
        border: var(--size-5xs) solid var(--color-gray-500);
        overflow-x: scroll;
        scrollbar-width: none;
    
        &::-webkit-scrollbar { 
            display: none;
        }

        &.has-error {
            border: var(--size-5xs) solid var(--color-gray-500);
        }

        @media (hover: hover) {
            & {
                border: var(--size-5xs) solid var(--color-gray-600);   
            }

            &.has-error {
                border: var(--size-5xs) solid var(--color-gray-500);
            }
        }

        &:has(:focus-visible),
        &:has(:active) {
            outline-offset: var(--size-4xs);
            outline: var(--color-blue-500) solid var(--size-4xs);
            box-shadow: 0 0 0 var(--size-4xs) var(--color-white);
        }

        &:has(:active) {
            border: var(--size-5xs) solid var(--color-gray-700);
            
            &.has-error {
                border: var(--size-5xs) solid var(--color-red-700);
            }
        }

        &:has(.chip:focus-visible) {
            outline: none;
            box-shadow: none;
        }

        & .chip:focus-visible {
            outline-offset: var(--size-5xs);
            outline: var(--color-blue-500) solid var(--size-5xs);
            border: var(--size-5xs) solid var(--color-white);
            padding: calc(var(--size-2xs) - var(--size-5xs)) calc(var(--size-xs) - var(--size-5xs));
            background-color: var(--color-gray-200);
        }
    }

    &__inner-container {
        display: flex;
        flex-flow: row nowrap;
        gap: var(--size-3xs);
        align-items: center;
    }

    &__typeahead {
        appearance: none;
        border: none;
        padding: var(--size-2xs);
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        min-width: 15rem;
        width: 100%;
        background-color: var(--color-white);

        scroll-margin-inline-end: -9rem;
        
        &:focus-visible {
            outline: none;
            box-shadow: none;
        }

        &::placeholder {
            color: var(--color-gray-400);
        }

        &:not(:first-child)::placeholder {
            opacity: 0;
        }
    }

    &__icon {
        position: absolute;
        pointer-events: none;
        padding: calc(var(--size-xs) - var(--size-5xs));
        top: var(--size-5xs);
        right: var(--size-5xs);
        background-color: var(--color-white);
        margin-left: var(--size-xs);
        border-radius: var(--size-3xs);
    }

    &__listbox {
        margin: 0;
        list-style-type: none;
        position: absolute;
        width: 100%;
        max-height: 14.25rem; /* 5.5 options + listbox padding */
        overflow-x: scroll;
        overscroll-behavior: contain;
        background-color: var(--color-white);
        box-shadow: var(--box-shadow-level-2);
        border-radius: var(--size-3xs);
        border: var(--size-5xs) solid var(--color-gray-500);
        padding: 0;
        -webkit-user-select: none;
        user-select: none;
        z-index: 3;
    }

    &__optgroup {
        margin: 0;
        padding: 0;
        list-style-type: none;
        
        &-label {
            padding: var(--size-2xs) var(--size-md);
            -webkit-user-select: none;
            user-select: none;
            font-weight: 700;
        }

        &-options {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }

        &[aria-disabled="true"] {
            color: var(--color-gray-400);
            cursor: not-allowed;
        }
    }

    &__option,
    &__listbox-empty-message {
        padding: var(--size-2xs) var(--size-md);
        color: var(--color-gray-900);
        width: 100%;
        background-color: var(--color-white);
        -webkit-user-select: none;
        user-select: none;

        &:not([hidden]) {
            display: block;
        }
    }

    &__option {
        &.is--aria-activedescendant {
            color: var(--color-gray-900);
            background-color: var(--color-gray-100);
        }

        &:active {
            color: var(--color-gray-900);
            background-color: var(--color-gray-200);            
        }

        .multi-select__optgroup-options > & {
            padding-left: var(--size-3xl);
        }

        &[aria-disabled="true"] {
            color: var(--color-gray-400);
            cursor: not-allowed;

            &:hover {
                color: var(--color-gray-400);
                background-color: var(--color-white);
            }

            &:active {
                color: var(--color-gray-400);
                background-color: var(--color-white);            
            }
        }
    }

    &__listbox-empty-message {
        color: var(--color-gray-500);
    }
}