.toggle-switch {
    appearance: none;
    background-color: transparent;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    color: var(--color-gray-900);
    padding: 0;
    border: none;
    display: flex;
    align-items: flex-start;
    gap: var(--size-xs);
    border-radius: var(--size-3xs);
    text-align: left;

    &__frame {
        pointer-events: none;
        flex: 0 0 var(--size-3xl);
    }

    &__foreground,
    &__background {
        transition-property: stroke, fill, cx;
        transition-duration: 150ms;
        transition-timing-function: ease-out;
    }

    &__foreground {
        stroke: var(--color-gray-500);
        stroke-width: var(--size-5xs);
        fill: var(--color-white);
    }

    &__background {
        stroke: var(--color-gray-500);
        stroke-width: var(--size-5xs);
        fill: var(--color-gray-100);
    }

    &__content,
    &__label,
    &__description {
        pointer-events: none;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: var(--size-2xs);
    }

    &__label,
    &__description {
        display: block;
    }

    &__description {
        color: var(--color-gray-600);
        font-size: var(--size-sm);
        line-height: var(--size-lg);
    }

    &[aria-checked="true"] {
        & .toggle-switch__foreground {
            cx: 1.375rem;
        }

        & .toggle-switch__background {
            fill: var(--color-blue-600);
        }
    }

    @media (hover: hover) {
        &:hover {
            & .toggle-switch__background,
            & .toggle-switch__foreground {
                stroke: var(--color-gray-600);
            }

            &[aria-checked="true"] .toggle-switch__background {
                fill: var(--color-blue-700);
            }

            &[aria-checked="false"] .toggle-switch__background {
                fill: var(--color-gray-200);
            }

            &:disabled, &[aria-disabled="true"] {
                color: var(--color-gray-500);
        
                & .toggle-switch__background,
                & .toggle-switch__foreground {
                    stroke: var(--color-gray-400);
                }
        
                & .toggle-switch__foreground {
                   fill: var(--color-gray-200);
                }
        
                & .toggle-switch__background {
                    fill: var(--color-gray-300);
                }
            }

            &[aria-checked="true"]:disabled, &[aria-checked="true"][aria-disabled="true"] {
                & .toggle-switch__background {
                    fill: var(--color-gray-400);
                }
            }
        }
    }

    &:disabled, &[aria-disabled="true"] {
        color: var(--color-gray-500);

        & .toggle-switch__background,
        & .toggle-switch__foreground {
            stroke: var(--color-gray-400);
        }

        & .toggle-switch__foreground {
           fill: var(--color-gray-200);
        }

        & .toggle-switch__background {
            fill: var(--color-gray-300);
        }

        & .toggle-switch__description {
            color: var(--color-gray-500);
        }
    }
    
    &:active {
        & .toggle-switch__background,
        & .toggle-switch__foreground {
            stroke: var(--color-gray-700);
        }

        &[aria-checked="true"] .toggle-switch__background {
            fill: var(--color-blue-800);
        }

        &[aria-checked="false"] .toggle-switch__background {
            fill: var(--color-gray-300);
        }
    }

    &[aria-checked="true"]:disabled, &[aria-checked="true"][aria-disabled="true"] {
        & .toggle-switch__background {
            fill: var(--color-gray-400);
        }
    }

    &:focus-visible:not(.toggle-switch--framed) {
        outline: none;
        box-shadow: none;

        & .toggle-switch__frame {
            overflow: visible;
        }

        & .toggle-switch__background {
            outline: var(--color-blue-500) solid var(--size-4xs);
            outline-offset: var(--size-4xs);
            box-shadow: 0 0 0 var(--size-4xs) var(--color-white);
            border-radius: var(--size-xs);
        }
    }
}

.toggle-switch--framed {
    width: 100%;
    padding: var(--size-md);
    border: var(--size-5xs) solid var(--color-gray-500);
    border-radius: var(--size-3xs);

    &[aria-checked="true"] {
        background-color: var(--color-blue-100);
    }

    @media (hover: hover) {
        &:hover {
            background-color: var(--color-gray-100);
            border-color: var(--color-gray-600);

            & .toggle-switch__background,
            & .toggle-switch__foreground {
                stroke: var(--color-gray-500);
            }

            &[aria-checked="true"] {
                background-color: var(--color-blue-200);
            }

            &[aria-checked="false"] {
                & .toggle-switch__background {
                    fill: var(--color-gray-100);
                }
            }

            &:disabled, &[aria-disabled="true"] {
                background-color: var(--color-white);
                border-color: var(--color-gray-400);
                color: var(--color-gray-500);
        
                & .toggle-switch__background,
                & .toggle-switch__foreground {
                    stroke: var(--color-gray-400);
                }
        
                & .toggle-switch__foreground {
                   fill: var(--color-gray-200);
                }
        
                & .toggle-switch__background {
                    fill: var(--color-gray-300);
                }
            }
        
            &[aria-checked="true"]:disabled, &[aria-checked="true"][aria-disabled="true"] {
                & .toggle-switch__background {
                    fill: var(--color-gray-400);
                }
            }
        }
    }

    &:disabled, &[aria-disabled="true"] {
        background-color: var(--color-white);
        border-color: var(--color-gray-400);
        color: var(--color-gray-500);

        & .toggle-switch__background,
        & .toggle-switch__foreground {
            stroke: var(--color-gray-400);
        }

        & .toggle-switch__foreground {
           fill: var(--color-gray-200);
        }

        & .toggle-switch__background {
            fill: var(--color-gray-300);
        }
    }

    &:active {
        background-color: var(--color-gray-200);
        border-color: var(--color-gray-700);

        & .toggle-switch__background,
        & .toggle-switch__foreground {
            stroke: var(--color-gray-500);
        }

        &[aria-checked="true"] {
            background-color: var(--color-blue-300);

            & .toggle-switch__description {
                color: var(--color-gray-900);
            }
        }

        &[aria-checked="false"] {
            & .toggle-switch__background {
                fill: var(--color-gray-100);
            }
        }

        &:disabled, &[aria-disabled="true"] {
            border-color: var(--color-gray-400);
            background-color: var(--color-white);
            color: var(--color-gray-500);
    
            & .toggle-switch__background,
            & .toggle-switch__foreground {
                stroke: var(--color-gray-400);
            }
    
            & .toggle-switch__foreground {
               fill: var(--color-gray-200);
            }
    
            & .toggle-switch__background {
                fill: var(--color-gray-300);
            }
        }
    
        &[aria-checked="true"]:disabled, &[aria-checked="true"][aria-disabled="true"] {
            & .toggle-switch__background {
                fill: var(--color-gray-400);
            }

            & .toggle-switch__description {
                color: var(--color-gray-500);
            }
        }
    }

    &[aria-checked="true"]:disabled, &[aria-checked="true"][aria-disabled="true"] {
        background-color: var(--color-gray-200);
        
        & .toggle-switch__background {
            fill: var(--color-gray-400);
        }
    }
}