---
title: Experience principles
eleventyNavigation:
    key: Experience
    title: Experience
    parent: Principles
    order: 1
    excerpt: How we can do what's best for the people who use Justworks
---

{% extends '../_includes/layout.njk' %}

{% block content %}
    <article>
        <section>
            <p class="paragraph--large">Experience principles are a set of statements establishing how people will experience our product.</p>
            <p>Experience principles should:</p>
            <ul class="bulleted-list">
                <li>help us create solutions aligned with customer needs and our aspirations</li>
                <li>define a "good" experience and hold us accountable for alignment</li>
                <li>institute common constraints to reduce arbitrary decisions and ensure a unified direction</li>
            </ul>

            <p>We consulted with a third-party design consulting firm, workshopped as a design team, and iterated based on user research, to arrive at these experience principles.</p>
        </section>
        <section>
            <div class="h3">The Justworks experience is...</div>
            <h2><span aria-label="">&#x1F331;</span> Growing with confidence</h2>
            <p>Because our customers want to get things right even if they don't know what "right" is, they need complex tasks made simple, expert guidance, and the right information at the right time.</p>
        </section>
        <section>
            <h2><span aria-label="">&#x1F3AF;</span> Focusing on priorities</h2>
            <p>Because our customers' time and energy is valuable, they need the work of HR administration to feel effortless.</dd>
        </section>
        <section>
            <h2><span aria-label="">&#x1F320;</span> Shining in moments that matter</h2>
            <p>Because our customers care about their employees, they need help navigating through challenges and seizing opportunities during the entire employee lifecycle.</p>
        </section>
        <section>
            <h2><span aria-label="">&#x1F91D;</span> Feeling personally connected</h2>
            <p>Because our customers are human beings, they need to feel supported with empathy in every interaction.</dd>
        </section>
    </article>
{% endblock %}