<!doctype html>
<html>
    <head>
        <title>{{ title }} | XD@JW</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="shortcut icon" href="favicon.png">
        <link rel="stylesheet" href="/assets/css/main.css">
        {% if localCss %}<style>{{ localCss | cssmin | safe }}</style>{% endif %}
    </head>
    <body>
        {% include 'main-nav.njk' %}
        <main>
            {% if includePageHeader !== false %}
                {% include 'page-header.njk' %}
            {% endif %}
            {% block content %}{% endblock %}
        </main>
    {% block localJs %}{% endblock %}
    </body>
</html>