{% from './components/anchor.njk' import render as anchor %}
{% from './components/button.njk' import render as button %}
{% from './components/card.njk' import render as card %}
{% from './components/display-icon.njk' import render as displayIcon %}
{% from './components/input-label.njk' import render as inputLabel %}
{% from './components/input-message.njk' import render as inputMessage %}
{% from './components/notice.njk' import render as notice %}
{% from './components/select.njk' import render as select %}
{% from './components/spinner.njk' import render as spinner %}
{% from './components/skeleton.njk' import render as skeleton %}
{% from './components/system-icon.njk' import render as systemIcon %}
{% from './components/tooltip.njk' import render as tooltip %}
{% from './components/layout/stack.njk' import render as stack %}
<!doctype html>
<html lang="en-US">
    <head>
        <title>{{ title }} | XD@JW</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="shortcut icon" href="favicon.png">
        <meta name="generator" content="{{ eleventy.generator }}">
        <meta name="description" content="{{ metaDescription }}">
        <link rel="stylesheet" href="/assets/css/main.css">
        <link rel="stylesheet" href="/pagefind/pagefind-ui.css" >
        {% if localCss %}<style>{{ localCss | cssmin | safe }}</style>{% endif %}
    </head>
    <body>
        {% include 'main-nav.njk' %}
        <main data-pagefind-body>
                {% if includePageHeader !== false %}
                    <div data-pagefind-ignore>
                        {{ collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key) | eleventyNavigationToHtml({ 'listClass': 'breadcrumbs' }) | safe }}
                    </div>
                    <h1>{{ title }}</h1>
                {% endif %}
            <div class="main-content">
                {% set localContent %}
                    {% block content %}{% endblock %}
                {% endset %}
                
                {% if localContent and hasTOC %}
                    <aside class="toc__container">
                        <div class="h4">Table of contents</div>
                        {{ localContent | toc | safe }}
                    </aside>
                {% endif %}

                <div class="body-content">    
                    {{ localContent | safe }}
                </div>
            </div>
        </main>
        <script src="/assets/js/main.js"></script>
        <script src="/pagefind/pagefind-ui.js"></script>
        <script>
            window.addEventListener('DOMContentLoaded', (event) => {
                new PagefindUI({ element: "#search" });
            });
        </script>
</body>
</html>