{%- from './components/meta/callout.njk' import render as callout -%}
{%- from './components/meta/figure.njk' import render as figure -%}
{%- from './components/meta/figma-embed.njk' import render as figmaEmbed -%}
{%- from './components/meta/index-card.njk' import render as indexCard -%}
{%- from './components/meta/dos-donts.njk' import render as dosDonts -%}
{%- from './components/anchor.njk' import render as anchor -%}
{%- from './components/avatar.njk' import render as avatar -%}
{%- from './components/badge.njk' import render as badge -%}
{%- from './components/button.njk' import render as button -%}
{%- from './components/checkbox.njk' import render as checkbox -%}
{%- from './components/chip.njk' import render as chip -%}
{%- from './components/display-icon.njk' import render as displayIcon -%}
{%- from './components/divider.njk' import render as divider -%}
{%- from './components/empty-state.njk' import render as emptyState -%}
{%- from './components/input-label.njk' import render as inputLabel -%}
{%- from './components/input-message.njk' import render as inputMessage -%}
{%- from './components/memorable-date.njk' import render as memorableDate -%}
{%- from './components/menu.njk' import render as menu -%}
{%- from './components/notice.njk' import render as notice -%}
{%- from './components/page-header.njk' import render as pageHeader -%}
{%- from './components/radio-button.njk' import render as radioButton -%}
{%- from './components/select-box.njk' import render as selectBox -%}
{%- from './components/spinner.njk' import render as spinner -%}
{%- from './components/skeleton.njk' import render as skeleton -%}
{%- from './components/stepper.njk' import render as stepper -%}
{%- from './components/system-icon.njk' import render as systemIcon -%}
{%- from './components/table.njk' import render as table -%}
{%- from './components/textarea.njk' import render as textarea -%}
{%- from './components/text-box.njk' import render as textBox -%}
{%- from './components/toggle-switch.njk' import render as toggleSwitch -%}
{%- from './components/tooltip.njk' import render as tooltip -%}
{%- from './components/layout/grid.njk' import grid, gridCell -%}
{%- from './components/layout/row.njk' import render as row -%}
{%- from './components/layout/stack.njk' import render as stack -%}

<!doctype html>
<html lang="en-US">
    <head>
        <title>{{ title }} | XD@JW</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="shortcut icon" href="favicon.png">
        <meta name="generator" content="{{ eleventy.generator }}">
        <meta name="description" content="{{ metaDescription }}">
        <link rel="stylesheet" href="/assets/css/main.css">
        <link rel="stylesheet" href="/pagefind/pagefind-ui.css" >
        <link rel="icon" href="/favicon.ico" sizes="32x32">
        <link rel="icon" href="/favicon.svg" type="image/svg+xml">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <link rel="manifest" href="/manifest.webmanifest">
        {% if localCss %}<style>{{ localCss | cssmin | safe }}</style>{% endif %}
    </head>
    <body class="preload">
        <a href="#main" class="skip-to-main">Skip to main content</a>      
        {% include 'main-nav.njk' %}
        <main data-pagefind-body>
        {% if includePageHeader !== false %}
            <div data-pagefind-ignore>
                {{ collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key) | eleventyNavigationToHtml({ 'listClass': 'breadcrumbs' }) | safe }}
            </div>
            <h1 id="main">{{ title }}</h1>
        {% endif %}

            <div class="main-content" {{ 'id="main"' | safe if includePageHeader == false }}>
                {% set localContent %}
                    {% block content %}{% endblock %}
                {% endset %}
                
                {% if (localContent | toc) %}
                    <aside class="toc__container" data-pagefind-ignore>
                        <div class="h4">Table of contents</div>
                        {{ localContent | toc | safe }}
                    </aside>
                {% endif %}

                <div class="body-content">    
                    {{ localContent | safe }}
                </div>
            </div>
        </main>
        <script src="/assets/js/main.js"></script>
        <script src="/pagefind/pagefind-ui.js"></script>
        <script>
            window.addEventListener('DOMContentLoaded', (event) => {
                new PagefindUI({ element: "#search" });
            });
        </script>
       {% if localJs %}<script>{{ localJs | safe }}</script>{% endif %} 
       {# {% if localJs %}<script>{{ localJs | jsmin | safe }}</script>{% endif %}  #}
</body>
</html>