{% import './system-icon.njk' as systemIcon %}

{%- macro render(content, href, variant = '', leftIcon = '', rightIcon = '', class = '', attributes = '') -%}
<a href="{{ href }}" class="anchor {% if variant %}anchor--{{ variant }}{% endif %} {{ class }}" {% if (attributes) -%}{{ attributes }}{%- endif %}>
    {%- if (leftIcon) -%}
        {{- systemIcon.render(leftIcon) -}}
    {%- endif -%}

    <span class="anchor__content">{{- content -}}</span>
    
    {%- if (rightIcon) -%}
        {{- systemIcon.render(rightIcon) -}}
    {%- endif -%}
</a>
{%- endmacro -%}