{% from './system-icon.njk' import render as systemIcon %}

{%- macro render(options) -%}
    <a
        href="{{ options.href }}"
        class="anchor {{ 'anchor--' + options.variant if options.variant }} {{ options.classes | join(' ') if options.classes }}"
    >
        {{- systemIcon(options.leftIcon) if options.leftIcon -}}
        {{- options.content -}}
        {{- systemIcon(options.rightIcon) if options.rightIcon -}}
    </a>
{%- endmacro -%}