{% from './system-icon.njk' import render as systemIcon %}

{% macro render(options) %}
{% set variant %}{{ options.variant | default("filled") }}{% endset %}
<button
    class="button button--{{ variant }} {{ options.classes | join(' ') if options.classes }}">
    
    {{ systemIcon(options.leftIcon) if options.leftIcon }}
    {{ options.content }}
    {{ systemIcon(options.rightIcon) if options.rightIcon }}
</button>
{% endmacro %}