{% macro render(options) %}
<a class="card" href="{{ options.href }}">
    <div class="card__title">{{ options.title }}</div>
    {% if options.description %}
        <div class="card__description">
            {{ options.description | safe }}
        </div>
    {% endif %}
</a>
{% endmacro %}