{% macro render(title, description, href) %}
<a class="card" href="{{ href }}">
    <div class="card__title">{{ title }}</div>
    <div class="card__description">{{ description | safe }}</div>
</a>
{% endmacro %}