{% from './system-icon.njk' import render as systemIcon %}
{% from './input-label.njk' import render as inputLabel %}
{% from './input-message.njk' import render as inputMessage %}

{% set localeData = {
    "en_US": {
        "button-empty-single": "Choose file",
        "button-empty-multiple": "Choose file(s)",
        "button-filled": "Remove file",
        "description": "or drag and drop here"
    },
    "de_DE": {
        "button-empty-single": "Datei wählen",
        "button-empty-multiple": "Datei(en) wählen",
        "button-filled": "Datei löschen",
        "description": "oder hier ziehem und ablegen"
    }
} %}


{% macro render(options) %}
    {% set accept = (options.accept | default(false)) %}
    {% set maxFileSize = (options.maxFileSize | default(false)) %}
    {% set maxFileCount = (options.maxFileCount | default(false)) %}
    {% set required = (options.required | default(true)) %}
    {% set filled = (options.filled | default(false)) %}
    {% set multiple = (options.multiple | default(false)) %}
    {% set locale = options.locale | default("en_US") %}
    {% set id %}{{ options.id | default(nanoid()) }}{% endset %}
    
    {% set classes -%}
        {%- if options.classes -%}
            {%- if options.classes == (options.classes | string) -%}
                {{ options.classes }}
            {%- else -%}
                {{ options.classes | join(' ') }}
            {%- endif -%}
        {%- endif -%}
    {%- endset %}

    <div
        class="form-field file-input {{ 'file-input--multiple' if multiple }}"
        {% if accept %}{% endif -%}
            >
        {{ inputLabel(options.label, required, id, locale = locale) if options.label }}
        {{ inputMessage("help", options.helpText) if options.helpText }}
        <input
            type="file" class="file-input__input" id="{{ id }}"
            hidden {{ 'multiple' if multiple }}
            {% if accept %}
            accept="{{ accept.fileTypes }}"
            data-accept-error-message="{{ accept.errorMessage }}"
            {% endif -%}

            {%- if maxFileSize %}
            data-max-file-size="{{ maxFileSize.size }}"
            data-max-file-size-error-message="{{ maxFileSize.errorMessage }}"
            {% endif -%}

            {%- if maxFileCount %}
            data-max-file-count="{{ maxFileCount.count }}"
            data-max-file-count-error-message="{{ maxFileCount.errorMessage }}"
            {% endif -%}
        />

        <div for="{{ id }}" class="file-input__dropzone {{ 'file-input__dropzone--filled' if filled }}">
            <button class="file-input__button button button--ghost button--size-sm">
                <span class="button__content file-input__button-content--empty">
                    {{- systemIcon("upload", size = "sm") -}}
                    <span class="button__label">
                        {{- localeData[locale]['button-empty-single'] if not multiple -}}
                        {{- localeData[locale]['button-empty-multiple'] if multiple -}}
                    </span>
                </span>
                <span class="button__content file-input__button-content--filled">
                    {{- systemIcon("trash", size = "sm") -}}
                    <span class="button__label">
                        {{- localeData[locale]['button-filled'] -}}
                    </span>
                </span>
            </button>
            <div class="file-input__description">
                {{- systemIcon("document", size = "sm") -}}
                <span class="file-input__description-text--empty">
                    {{- localeData[locale]['description'] -}}
                </span>
                <span class="file-input__description-text--filled">
                </span>
            </div>
        </div>

    {% if multiple %}
        <div class="file-list"></div>
    {% endif %}

        <div class="input-message__list">
           {% for message in options.messages %}
                {{ inputMessage(message.type, message.message) }}
           {% endfor %} 
        </div>
    </div>
{% endmacro %}