{% from './system-icon.njk' import render as systemIcon %}
{% from './input-label.njk' import render as inputLabel %}
{% from './input-message.njk' import render as inputMessage %}
{% from './button.njk' import render as button %}

{% set localeData = {
    "en_US": {
        "button-empty-single": "Choose file",
        "button-empty-multiple": "Choose file(s)",
        "button-filled": "Delete file",
        "description": "or drag and drop here"
    },
    "de_DE": {
        "button-empty-single": "Datei wählen",
        "button-empty-multiple": "Datei(en) wählen",
        "button-filled": "Datei löschen",
        "description": "oder hier ziehem und ablegen"
    }
} %}


{% macro render(options) %}
    {% set accept = (options.accept | default(false)) %}
    {% set maxFileSize = (options.maxFileSize | default(false)) %}
    {% set required = (options.required | default(true)) %}
    {% set filled = (options.filled | default(false)) %}
    {% set multiple = (options.multiple | default(false)) %}
    {% set locale = options.locale | default("en_US") %}
    {% set id %}{{ options.id | default(nanoid()) }}{% endset %}
    
    {% set classes -%}
        {%- if options.classes -%}
            {%- if options.classes == (options.classes | string) -%}
                {{ options.classes }}
            {%- else -%}
                {{ options.classes | join(' ') }}
            {%- endif -%}
        {%- endif -%}
    {%- endset %}

    {% if options.label or options.messages %}
        <div class="form-field">
    {% endif %}
            {{ inputLabel(options.label, required, id, locale = locale) if options.label }}
            {{ inputMessage("help", options.helpText) if options.helpText }}
            <input
                type="file" class="file-input__input" id="{{ id }}"
                hidden {{ 'multiple' if multiple }}
                {% if accept %}
                accept="{{ accept }}"
                {% endif -%}

                {%- if maxFileSize %}
                data-max-file-size="{{ maxFileSize }}"
                {% endif -%}
            />

            <div for="{{ id }}" class="file-input {{ 'file-input--filled' if filled }} {{ 'file-input--multiple' if multiple }}">
                <button class="file-input__button button button--ghost button--size-sm">
                    <span class="file-input__button-content--empty">
                        {{ systemIcon("upload", size = "sm") }}
                        {{ localeData[locale]['button-empty-single'] if not multiple }}
                        {{ localeData[locale]['button-empty-multiple'] if multiple }}
                    </span>
                    <span class="file-input__button-content--filled">
                        {{ systemIcon("trash", size = "sm") }}
                        {{ localeData[locale]['button-filled'] }}
                    </span>
                </button>
                <div class="file-input__description">
                    {{ systemIcon("document", size = "sm") }}
                    <span class="file-input__description-text--empty">
                        {{ localeData[locale]['description']}}
                    </span>
                    <span class="file-input__description-text--filled">
                    </span>
                </div>
            </div>

        {% if multiple %}
            <div class="file-list"></div>
        {% endif %}
    {% if options.messages %}
        <div class="input-message__list">
           {% for message in options.messages %}
                {{ inputMessage(message.type, message.message) }}
           {% endfor %} 
        </div>
    {% endif %}
    {% if options.label or options.messages %}
        </div>
    {% endif %}
{% endmacro %}