{% from './system-icon.njk' import render as systemIcon %}

{%- macro render(type = "error", message = "") -%}
    {%- set messageIcon -%}
        {%- if type == "error" -%}
            error
        {%- elif type == "warning" -%}
            warning
        {%- elif type == "success" -%}
            check-circle
        {%- endif -%}
    {%- endset -%}

    {% if message %}
        <div class="input-message input-message--type-{{ type }}">
            {{ systemIcon(messageIcon) if messageIcon }}
            <span>{{ message | safe }}</span>
        </div>
    {% endif %}
</label>
{% endmacro %}