{%- macro render(content, isRequired = 'true', forId = '') -%}
<label
    class="input-label"
    {% if forId %}
        for="{{ forId | safe }}"
    {% endif %}
>
    {{ content }}
    {% if isRequired == 'false' %}
        <span class="input-label__optional">Optional</label>
    {% endif %}
</label>
{% endmacro %}