{%- macro render(content, isRequired = true, forId = 'id', as = "label") -%}
<{{ as }}
    class="input-label"
    {% if forId %}
        for="{{ forId | safe }}"
    {% endif %}
>
    {{ content }}
    {% if isRequired == false %}
        <span class="input-label__optional">Optional</label>
    {% endif %}
</{{ as }}>
{% endmacro %}