{% macro render(options) %}
    {% set id = nanoid() %}
    {% set trigger = addClass(options.trigger, 'menu__trigger') %}
    {{ addAttribute(trigger, { 'aria-describedby': id }) | safe }}

    <div class="menu" id="{{ id }}" tabindex="1">
        <ul class="menu__item-list">
    {% for item in options.menuItems %}
        {% if item.href %}
            <li><a href="{{ item.href | safe }}" class="menu__item menu__item--link">{{ item.title }}</a></li>
        {% elseif item.onClick %}
            <li><button onclick="{{ item.onClick | safe }}" class="menu__item menu__item--button">{{ item.title }}</button></li>
        {% endif %}
    {% endfor %}
        </ul>
    </div>
{% endmacro %}