{% macro render(options) %}
    {% set id = nanoid() %}
    {% set trigger = addClass(options.trigger, 'menu__trigger') %}
    {{ addAttribute(trigger, { "aria-haspopup": "true", "aria-expanded": "false", "aria-controls": id }) | safe }}

    <div class="menu" id="{{ id }}" role="menu" hidden tabindex="-1">
    {% for item in options.menuItems %}
        {% if item.href %}
            <a role="menuitem" tabindex="-1" href="{{ item.href | safe }}" class="menu__item menu__item--link">{{ item.title }}</a>
        {% elseif item.onClick %}
            <button role="menuitem" tabindex="-1" onclick="{{ item.onClick | safe }}" class="menu__item menu__item--button">{{ item.title }}</button>
        {% else %}
            <button role="menuitem" tabindex="-1" class="menu__item menu__item--button" aria-disabled="true">{{ item.title }}</button>
        {% endif %}
    {% endfor %}
    </div>
{% endmacro %}