{% from './system-icon.njk' import render as systemIcon %}

{% macro render(options) %}
{% set type = (options.type | default('info')) %}
{%- set noticeIcon -%}
    {%- if type == "danger" -%}
        error
    {%- elif type == "warning" -%}
        warning
    {%- elif type == "success" -%}
        check-circle
    {%- elif type == "new" -%}
        whats-new
    {%- elif type == "info" -%}
        info-circle
    {%- endif -%}
{%- endset -%}

<div class="notice notice--type-{{ type }}">
    {% if options.headline %}
        <div class="notice__headline">
            {{- systemIcon(noticeIcon) if noticeIcon -}}
            {{- options.headline -}}
        </div>{% endif %}
    {% if caller() %}<div class="notice__content">{{ caller() }}</div>{% endif %}
</div>
{% endmacro %}