{% macro render(options) %}
{% set type %}{{ options.type | default('info') }}{% endset %}
<div class="notice notice--{{ type }}">
    {% if options.headline %}<div class="h3">{{ options.headline }}</div>{% endif %}
    {% if caller() %}<div>{{ caller() | safe }}</div>{% endif %}
<div>
{% endmacro %}