{% from './system-icon.njk' import render as systemIcon %}
{% from './input-label.njk' import render as inputLabel %}
{% from './input-message.njk' import render as inputMessage %}

{% macro render(options) %}
    {% set placeholder %}{{ options.placeholder | default('Select&hellip;' | safe ) }}{% endset %}
    {% set required = (options.required | default(true)) %}
    {% set id %}{{ options.id | default(nanoid()) }}{% endset %}
    
    {% set classes -%}
    {#- TODO: make this into a custom filter -#}
        {%- if options.classes -%}
            {%- if options.classes == (options.classes | string) -%}
                {{ options.classes }}
            {%- else -%}
                {{ options.classes | join(' ') }}
            {%- endif -%}
        {%- endif -%}
    {%- endset %}

    {% if options.label or options.messages %}
        <div class="form-field">
    {% endif %}
            {{ inputLabel(options.label, required, id) if options.label }}
            {{ inputMessage("help", options.helpText) if options.helpText }}
            <span class="select-box__wrapper">
                <select
                    class="select-box {{ classes }}"
                    {% for key, value in options.attributes %}
                        {% if key !== "id" %}
                            {{ key }}="{{ value | safe }}"
                        {% endif %}
                    {% endfor %}
                    id="{{ id | safe }}"
                    {{ 'required' if required }}
                    title="{{ placeholder | safe }}"
                >
                    <option hidden disabled selected value>{{ placeholder | safe }}</option>
                    {{ caller() | safe }}
                </select>
                {{ systemIcon('chevron-down', classes = 'select-box__icon') }}
            </span>
    {% if options.messages %}
        <div class="input-message__list">
           {% for message in options.messages %}
                {{ inputMessage(message.type, message.message) }}
           {% endfor %} 
        </div>
    {% endif %}
    {% if options.label or options.messages %}
        </div>
    {% endif %}
{% endmacro %}