{# TODO: make extraClasses into a custom filter #}

{%- macro render(iconName, size = 'md', classes = '') -%}
{%- set extraClasses -%}
    {% if classes %}
        {% if classes == (classes | string) %}
            {{ classes }}
        {% else %}
            {{ classes | join(' ') }}
        {% endif %}
    {% endif %}
{%- endset -%}
    <span class="system-icon system-icon--size-{{ size }} {{ extraClasses }}">
        {%- include '../../assets/img/system-icons/' + iconName + '.svg' -%}
    </span>
{%- endmacro -%}