{%- macro render(iconName, size = 'md') -%}
    <span class="system-icon system-icon--size-{{ size }}">
        {%- include '../../assets/img/system-icons/' + iconName + '.svg' -%}
    </span>
{%- endmacro -%}