{% from './input-label.njk' import render as inputLabel %}
{% from './input-message.njk' import render as inputMessage %}

{% macro render(options) %}
    {% set required = (options.required | default(true)) %}
    {% set id %}{{ options.id | default(nanoid()) }}{% endset %}
    {% set locale = options.locale | default("en_US") %}
    
    {% set classes -%}
    {#- TODO: make this into a custom filter -#}
        {%- if options.classes -%}
            {%- if options.classes == (options.classes | string) -%}
                {{ options.classes }}
            {%- else -%}
                {{ options.classes | join(' ') }}
            {%- endif -%}
        {%- endif -%}
    {%- endset %}

    {% if options.label or options.messages %}
        <div class="form-field">
    {% endif %}
            {{ inputLabel(options.label, required, id, locale = locale) if options.label }}
            {{ inputMessage("help", options.helpText) if options.helpText }}
            <input
                class="text-box {{ classes }}"
                {% for key, value in options.attributes %}
                    {% if key !== "id" %}
                        {{ key }}="{{ value | safe }}"
                    {% endif %}
                {% endfor %}
                id="{{ id | safe }}"
                {{ 'required' if required }}
                {{ ('aria-disabled="true"' | safe) if options.disabled }}    
                type="text"
                placeholder="{{ placeholder | safe }}"    
                title="{{ placeholder | safe }}"
                {{ ('value=' + options.value) if options.value }}
            />
        {% if options.messages %}
            <div class="input-message__list">
            {% for message in options.messages %}
                    {{ inputMessage(message.type, message.message) }}
            {% endfor %} 
            </div>
        {% endif %}
    {% if options.label or options.messages %}
        </div>
    {% endif %}
{% endmacro %}