{% from './input-label.njk' import render as inputLabel %}
{% from './input-message.njk' import render as inputMessage %}

{% macro render(options) %}
    {% set required = (options.required | default(true)) %}
    {% set id %}{{ options.id | default(nanoid()) }}{% endset %}
    {% set resizable %}{{ options.attributes.resizable | default("none") }}{% endset %}
    
    {% set classes -%}
    {#- TODO: make this into a custom filter -#}
        {%- if options.classes -%}
            {%- if options.classes == (options.classes | string) -%}
                {{ options.classes }}
            {%- else -%}
                {{ options.classes | join(' ') }}
            {%- endif -%}
        {%- endif -%}
    {%- endset %}

    {% if options.label or options.messages %}
        <div class="form-field">
    {% endif %}
            {{ inputLabel(options.label, required, id) if options.label }}
            {{ inputMessage("help", options.helpText) if options.helpText }}
            <textarea
                class="textarea resizable--{{ resizable }} {{ classes }}"
                {% for key, value in options.attributes %}
                    {% if key !== "id" %}
                        {{ key }}="{{ value | safe }}"
                    {% endif %}
                {% endfor %}
                id="{{ id | safe }}"
                {{ 'required' if required }}
                title="{{ placeholder | safe }}"
            >
                {{- options.value -}}
            </textarea>
        {% if options.messages %}
            <div class="input-message__list">
            {% for message in options.messages %}
                    {{ inputMessage(message.type, message.message) }}
            {% endfor %} 
            </div>
        {% endif %}
    {% if options.label or options.messages %}
        </div>
    {% endif %}
{% endmacro %}