{% macro render(options) %}
    <button class="toggle-switch" role="switch" aria-checked="false">
        <svg xmlns="http://www.w3.org/2000/svg" height="24" width="32" class="toggle-switch__frame">
            <rect class="toggle-switch__background" x="0.5" y="2.5" width="31" height="19" ry="10" stroke="var(--color-gray-500)" stroke-width="1" fill="var(--color-gray-100)" />
            <circle class="toggle-switch__foreground" cx="10" cy="12" r="9.5" stroke="var(--color-gray-500)" stroke-width="1" fill="var(--color-white)" />
        </svg>
        {{ options.content }}
    </button>
{% endmacro %}