{% macro render(trigger, content, triggerType = 'block') %}
{{ trigger | addClass("tooltip__trigger") | safe }}    
<div class="tooltip__tooltip">
    {{ content | safe }}
    <div class="tooltip__arrow"></div>
</div>
{% endmacro %}