{% macro render(options) %}

{% set id = nanoid() %}

{% if not isHtmlElement(options.trigger) %}
    <span role="button" tabindex="0" aria-describedby="{{ id }}" class="tooltip__trigger tooltip__trigger--string">{{- options.trigger -}}</span>
{% else %}
    {% set trigger = addClass(options.trigger, 'tooltip__trigger') %}
    {{ addAttribute(trigger, { 'aria-describedby': id }) | safe }}
{% endif %}

<span id="{{ id }}"
    class="tooltip__tooltip {{ 'tooltip__tooltip--inverse' if options.inverse }}"
    {% if options.placement %}data-placement="{{ options.placement | safe }}"{% endif %}
>
    {{ options.content | safe }}
    <span class="tooltip__arrow"></span>
</span>

{% endmacro %}