---
title: Imagery
eleventyNavigation:
    key: Imagery
    parent: Home
    order: 6
---
{% extends '../_includes/layout.njk' %}
{% import '../_includes/components/card.njk' as card %}

{%
    set cards = [
        {
            'title': 'System icons',
            'description': 'System icons are pretty much the coolest thing you could ever imagine. What else do you need to know?',
            'href': 'system-icons/'
        }
    ]
%}

{% block content %}
<h1>Imagery</h1>

<div class="list--cards">
    {% for cardData in cards %}
        {{ card.render(cardData.title, cardData.description, cardData.href) }}
    {% endfor %}
</div>

{% endblock %}