.button {
    font-family: inherit;
    font-weight: bold;
    border-radius: var(--size-3xs);
    border-width: var(--size-4xs);
    border-style: solid;
}

.button > .system-icon:first-child {
    margin-right: var(--size-3xs);
}

.button > .system-icon:first-child:has(+ span:empty) {
    margin-right: 0;
}

.button > .system-icon:last-child {
    margin-left: var(--size-3xs);
}

.button--filled {
    border-color: transparent;
    background-color: var(--color-blue-600);
    color: var(--color-white);
}

.button--filled:hover {
    background-color: var(--color-blue-700);
}

.button--filled:active {
    background-color: var(--color-blue-800);
}

.button--outlined {
    border-color: var(--color-blue-600);
    background-color: transparent;
    color: var(--color-blue-600);
}

.button--outlined:hover {
    border-color: var(--color-blue-700);
    color: var(--color-blue-700);
}

.button--outlined:active {
    border-color: var(--color-blue-800);
    color: var(--color-blue-800);
}

.button--ghost {
    border-color: transparent;
    background-color: transparent;
    color: var(--color-blue-600);
}

.button--ghost:hover {
    background-color: var(--color-blue-100);
    color: var(--color-blue-700);
}

.button--ghost:active {
    background-color: var(--color-blue-200);
    color: var(--color-blue-800);
}

.button--size-md {
    font-size: var(--size-md);
    line-height: var(--size-xl);
    padding: calc(var(--size-xs) - var(--size-4xs)) calc(var(--size-md) - var(--size-4xs));
}

.button--size-md:has(.system-icon + span:empty) {
    padding-left: calc(var(--size-xs) - var(--size-4xs));
    padding-right: calc(var(--size-xs) - var(--size-4xs));
}


.button--size-sm {
    font-size: var(--size-sm);
    line-height: var(--size-md);
    padding: calc(var(--size-3xs) - var(--size-4xs)) calc(var(--size-3xs) - var(--size-4xs));
}

.button--size-sm > .system-icon > svg {
    width: var(--size-md);
    height: var(--size-md);
}