.card {
    display: block;
    border: 0.0625rem solid #dcd9e1;
    border-radius: 0.25rem;
    padding: 1.5rem;
    text-decoration: none;
    color: #1c1d1f;
    box-shadow: -1px -1px 2px 0px rgba(63, 65, 71, 0.08), 1px 1px 2px 0px rgba(63, 65, 71, 0.32);
}

.card__title {
    font-size: 1.25rem;
    line-height: 1.25rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.card:hover {
    border-color: #A9ADB5;
    box-shadow: -2px -2px 4px 0px rgba(63, 65, 71, 0.07), 2px 2px 4px 0px rgba(63, 65, 71, 0.28);
    transition: transform 150ms ease-out;
    transform: scale(1.0025) translateY(-0.125rem);
}

.list--cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

.list--cards > .card {
    flex: 0 1 16rem;
}