.display-icon {
    display: inline-block;
    vertical-align: top;
}

.display-icon > svg {
    vertical-align: top;
}

.display-icon--size-sm > svg {
    width: var(--size-4xl);
    height: var(--size-4xl);
}

.display-icon--size-md > svg {
    width: 5rem;
    height: 5rem;
}

.display-icon--size-lg > svg {
    width: 8rem;
    height: 8rem;
}

.display-icon--color-blue .display-icon__fill-1 {
    fill: var(--color-blue-400);
}

.display-icon--color-blue .display-icon__fill-2 {
    fill: var(--color-blue-200);
}

.display-icon--inverse.display-icon--color-blue .display-icon__fill-1 {
    fill: var(--color-blue-600);
}

.display-icon--inverse.display-icon--color-blue .display-icon__fill-2 {
    fill: var(--color-blue-800);
}

.display-icon--color-green .display-icon__fill-1 {
    fill: var(--color-green-400);
}

.display-icon--color-green .display-icon__fill-2 {
    fill: var(--color-green-200);
}

.display-icon--inverse.display-icon--color-green .display-icon__fill-1 {
    fill: var(--color-green-600);
}

.display-icon--inverse.display-icon--color-green .display-icon__fill-2 {
    fill: var(--color-green-800);
}

.display-icon--color-red .display-icon__fill-1 {
    fill: var(--color-red-300);
}

.display-icon--color-red .display-icon__fill-2 {
    fill: var(--color-red-200);
}

.display-icon--inverse.display-icon--color-red .display-icon__fill-1 {
    fill: var(--color-red-500);
}

.display-icon--inverse.display-icon--color-red .display-icon__fill-2 {
    fill: var(--color-red-700);
}

.display-icon--color-yellow .display-icon__fill-1 {
    fill: var(--color-yellow-200);
}

.display-icon--color-yellow .display-icon__fill-2 {
    fill: var(--color-yellow-300);
}

.display-icon--inverse.display-icon--color-yellow .display-icon__fill-1 {
    fill: var(--color-yellow-600);
}

.display-icon--inverse.display-icon--color-yellow .display-icon__fill-2 {
    fill: var(--color-yellow-800);
}

.display-icon--color-gray .display-icon__fill-1 {
    fill: var(--color-gray-300);
}

.display-icon--color-gray .display-icon__fill-2 {
    fill: var(--color-gray-300);
}

.display-icon--inverse.display-icon--color-gray .display-icon__fill-1 {
    fill: var(--color-gray-700);
}

.display-icon--inverse.display-icon--color-gray .display-icon__fill-2 {
    fill: var(--color-gray-700);
}

.display-icon--color-redPurple .display-icon__fill-1 {
    fill: var(--color-red-300);
}

.display-icon--color-redPurple .display-icon__fill-2 {
    fill: var(--color-purple-300);
}

.display-icon--inverse.display-icon--color-redPurple .display-icon__fill-1 {
    fill: var(--color-red-700);
}

.display-icon--inverse.display-icon--color-redPurple .display-icon__fill-2 {
    fill: var(--color-purple-700);
}

.display-icon--color-yellowPurple .display-icon__fill-1 {
    fill: var(--color-yellow-200);
}

.display-icon--color-yellowPurple .display-icon__fill-2 {
    fill: var(--color-purple-300);
}

.display-icon--inverse.display-icon--color-yellowPurple .display-icon__fill-1 {
    fill: var(--color-yellow-600);
}

.display-icon--inverse.display-icon--color-yellowPurple .display-icon__fill-2 {
    fill: var(--color-purple-700);
}

.display-icon--color-greenYellow .display-icon__fill-1 {
    fill: var(--color-green-400);
}

.display-icon--color-greenYellow .display-icon__fill-2 {
    fill: var(--color-yellow-200);
}

.display-icon--inverse.display-icon--color-greenYellow .display-icon__fill-1 {
    fill: var(--color-green-600);
}

.display-icon--inverse.display-icon--color-greenYellow .display-icon__fill-2 {
    fill: var(--color-yellow-600);
}

.display-icon--color-blueYellow .display-icon__fill-1 {
    fill: var(--color-blue-400);
}

.display-icon--color-blueYellow .display-icon__fill-2 {
    fill: var(--color-yellow-200);
}

.display-icon--inverse.display-icon--color-blueYellow .display-icon__fill-1 {
    fill: var(--color-blue-600);
}

.display-icon--inverse.display-icon--color-blueYellow .display-icon__fill-2 {
    fill: var(--color-yellow-600);
}

.display-icon--color-blueGreen .display-icon__fill-1 {
    fill: var(--color-blue-400);
}

.display-icon--color-blueGreen .display-icon__fill-2 {
    fill: var(--color-green-400);
}

.display-icon--inverse.display-icon--color-blueGreen .display-icon__fill-1 {
    fill: var(--color-blue-600);
}

.display-icon--inverse.display-icon--color-blueGreen .display-icon__fill-2 {
    fill: var(--color-green-600);
}

.display-icon__ink {
    fill: var(--color-gray-900);
}

.display-icon--inverse .display-icon__ink {
    fill: var(--color-white);
}