.input-message__list {
    margin-top: var(--size-xs);
    display: flex;
    flex-direction: column;
    gap: var(--size-2xs);
}

.input-message {
    display: flex;
    flex-direction: row;
    gap: var(--size-2xs);
}

.input-message--type-error {
    color: var(--color-red-600);
}

.input-message--type-success {
    color: var(--color-green-600);
}

.input-message--type-warning {
    color: var(--color-yellow-600);
}

.input-message--type-help {
    color: var(--color-gray-600);
}