.notice {
    padding: var(--size-xl);
    border-radius: var(--size-3xs);
    max-width: 40rem;
}

.notice--danger {
    background-color: var(--color-red-100);
}

.notice--info {
    background-color: var(--color-blue-100);
}

.notice--success {
    background-color: var(--color-green-100);
}

.notice--warning {
    background-color: var(--color-yellow-100);
}