.notice {
    padding: var(--size-xl);
    border-radius: var(--size-3xs);
    margin-bottom: var(--size-3xl);
}

.notice__headline {
    font-size: var(--size-lg);
    line-height: var(--size-xl);
    font-weight: 800;
    margin-bottom: var(--size-xs);
}

.notice__headline .system-icon {
    margin-right: var(--size-2xs);
}

.notice--type-danger {
    background-color: var(--color-red-300);
}

.notice--type-info {
    background-color: var(--color-blue-200);
}

.notice--type-success {
    background-color: var(--color-green-300);
}

.notice--type-warning {
    background-color: var(--color-yellow-200);
}

.notice--type-new {
    background-color: var(--color-purple-300);
}

.notice--type-neutral {
    background-color: var(--color-gray-200);
}