.page-header__link-to-parent {
    margin-bottom: var(--size-3xs);
}

.page-header__title {
    font-size: var(--size-3xl);    
    line-height: var(--size-4xl);
    font-weight: 800;
    margin-bottom: var(--size-2xs);
}

.page-header__title,
.page-header__description {
    max-width: 55rem; /* Will need adjusting */
}

.page-header:not(:has(.divider)) {
    margin-bottom: var(--size-4xl);
}

.page-header:not(:has(.page-header__description)) .page-header__title {
    margin-bottom: 0;
}