.breadcrumbs {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 0.875rem;
    line-height: 1rem;
    margin-bottom: 0.5rem;
    color: #5E6167;
}

.breadcrumbs, .breadcrumbs li {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.25rem;
}

.breadcrumbs li a {
    color: #0070d4;
}

.breadcrumbs > li::after {
    content: "/";
}