.radio-button {
    display: flex;
    gap: var(--size-xs);
    width: fit-content;
    max-width: 100%;
}

.radio-button__control {
    appearance: none;
    background-color: #fff;
    margin: 0;
    width: var(--size-lg);
    height: var(--size-lg);
    border: var(--size-5xs) solid var(--color-gray-500);
    border-radius: 9999px;
    position: relative;
}

.radio-button__control::before {
    background-color: var(--color-blue-600);
    height: 0.625rem;
    width: 0.625rem;
    border-radius: 50%;
    display: none;
    content: '';
}

.radio-button__control:checked::before {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (hover: hover) {
    .radio-button:hover .radio-button__control {
        background-color: var(--color-blue-100);
        border-color: var(--color-gray-600);
    }
}

.radio-button:active .radio-button__control {
    border-color: var(--color-gray-600);
}

.radio-button .radio-button__control:invalid {
    border-color: var(--color-red-500);
}
@media (hover: hover) {
    .radio-button:hover .radio-button__control:invalid {
        border-color: var(--color-red-600);
    }
}

.radio-button:active .radio-button__control:invalid {
    border-color: var(--color-red-700);
}

.radio-button--framed {
    width: auto;
    padding: var(--size-md);
    border: var(--size-5xs) solid var(--color-gray-500);
    border-radius: var(--size-3xs);
}

@media (hover: hover) {
    .radio-button--framed:hover {
        background-color: var(--color-gray-100);
        border-color: var(--color-gray-600);
    }
}

.radio-button--framed:active {
    background-color: var(--color-gray-200);
    border-color: var(--color-gray-700);
}

.radio-button--framed:has(:checked) {
    background-color: var(--color-blue-100);
}

@media (hover: hover) {
    .radio-button--framed:hover:has(:checked) {
        background-color: var(--color-blue-200);
    }
}

.radio-button--framed:active:has(:checked) {
    background-color: var(--color-blue-300);
}

.radio-button--framed:has(:focus-visible) {
    outline-offset: var(--size-4xs);
    outline: var(--color-blue-500) solid var(--size-4xs);
    box-shadow: 0 0 0 var(--size-4xs) var(--color-white);
}

.radio-button--framed .radio-button__control:focus-visible {
    outline: none;
    box-shadow: none;
}

.radio-button--framed:has(:invalid) {
    border-color: var(--color-red-500);
}

@media (hover: hover) {
    .radio-button--framed:hover:has(:invalid) {
        border-color: var(--color-red-600);
    }
}

.radio-button--framed:active:has(:invalid) {
    border-color: var(--color-red-700);
}

.radio-button--framed .radio-button__control,
.radio-button--framed:active .radio-button__control,
.radio-button--framed .radio-button__control:checked,
.radio-button--framed:active .radio-button__control:checked,
.radio-button--framed .radio-button__control:invalid,
.radio-button--framed:active .radio-button__control:invalid {
    border-color: var(--color-gray-500);
    background-color: var(--color-white);
}

@media (hover: hover) {
    .radio-button--framed:hover .radio-button__control,
    .radio-button--framed:hover .radio-button__control:checked,
    .radio-button--framed:hover .radio-button__control:invalid {
        border-color: var(--color-gray-500);
        background-color: var(--color-white);
    }
}

.radio-button__content {
    display: flex;
    flex-direction: column;
    gap: var(--size-2xs);
}

.radio-button__label, .radio-button__description {
    display: block;
}

.radio-button__description {
    color: var(--color-gray-600);
    font-size: var(--size-sm);
    line-height: var(--size-lg);
}

.radio-button--framed:active:has(:checked) .radio-button__description {
    color: var(--color-gray-900);
}