.select-box__wrapper {
    display: inline-block;
    width: 100%;
    position: relative;
}

.select-box {
    width: 100%;
    appearance: none;
    border-radius: var(--size-3xs);
    border: var(--size-5xs) solid var(--color-gray-500);
    background-color: var(--color-white);
    font-family: inherit;
    padding-top: calc(var(--size-xs) - var(--size-5xs));
    padding-right: calc(3rem - var(--size-5xs));
    padding-bottom: calc(var(--size-xs) - var(--size-5xs));
    padding-left: calc(var(--size-md) - var(--size-5xs));
    font-size: var(--size-md);
    line-height: var(--size-xl);
    color: var(--color-gray-900);
    background-color: var(--color-white);
}

@media (hover: hover) {
    .select-box:hover {
        border-color: var(--color-gray-600);
    }
}

.select-box:active {
    border-color: var(--color-gray-700);
}

.select-box:invalid {
    border-color: var(--color-red-500);
}

@media (hover: hover) {
    .select-box:invalid:hover {
        border-color: var(--color-red-600);
    }
}

.select-box:invalid:active {
    border-color: var(--color-gray-700);
}

/* 
    when the checked option has NO value:
        - don't visually mark as invalid, even if empty but required
        - make the text color a placeholder-y light gray
*/
    .select-box:has(option:checked[value=""]) {
        border-color: var(--color-gray-500);
        color: var(--color-gray-400);
    }

    @media (hover: hover) {
        .select-box:has(option:checked[value=""]):hover {
            border-color: var(--color-gray-600);
        }
    }

    .select-box:has(option:checked[value=""]):active {
        border-color: var(--color-gray-700);
    }
/* End */

.show-error-blank-but-required .select-box:required:invalid {
    border-color: var(--color-red-500);
}

@media (hover: hover) {
    .show-error-blank-but-required .select-box:required:invalid:hover {
        border-color: var(--color-red-600);
    }
}

.show-error-blank-but-required .select-box:required:invalid:active {
    border-color: var(--color-red-700);
}

.select-box__icon {
    position: absolute;
    top: var(--size-xs);
    right: var(--size-xs);
    pointer-events: none;
}
