.system-icon {
    display: inline-block;
    vertical-align: top;
}

.system-icon > svg {
    vertical-align: top;
}

.system-icon--size-xs > svg {
    width: var(--size-md);
    height: var(--size-md);
}

.system-icon--size-sm > svg {
    width: var(--size-lg);
    height: var(--size-lg);
}

.system-icon--size-md > svg {
    width: var(--size-xl);
    height: var(--size-xl);
}

.system-icon--size-lg > svg {
    width: var(--size-2xl);
    height: var(--size-2xl);
}

.system-icon--size-xl > svg {
    width: var(--size-4xl);
    height: var(--size-4xl);
}