.textarea {
    padding: calc(var(--size-xs) - var(--size-5xs)) calc(var(--size-md) - var(--size-5xs));
    border-radius: var(--size-3xs);
    font-family: inherit;
    font-size: var(--size-md);
    line-height: var(--size-xl);
    border: var(--size-5xs) solid var(--color-gray-500);
}

.textarea:hover {
    border-color: var(--color-gray-600);
}

.textarea.resizable--none {
    resize: none;
}

.textarea.resizable--both {
    resize: both;
}

.textarea.resizable--horizontal {
    resize: horizontal;
}

.textarea.resizable--vertical {
    resize: vertical;
}

/* TODO: error state */