.text-box {
    padding: calc(var(--size-xs) - var(--size-5xs)) calc(var(--size-md) - var(--size-5xs));
    border-radius: var(--size-3xs);
    font-family: inherit;
    font-size: var(--size-md);
    line-height: var(--size-xl);
    border: var(--size-5xs) solid var(--color-gray-500);
}

.text-box:not(:placeholder-shown) {
    border-color: var(--color-red-500);
}

.text-box:not(:placeholder-shown):active {
    border-color: var(--color-red-700);
}

.text-box:valid {
    border-color: var(--color-gray-500);
}

@media (hover: hover) {
    .text-box:not(:placeholder-shown):hover {
        border-color: var(--color-red-600);
    }

    .text-box:valid:hover {
        border-color: var(--color-gray-600);
    }
}

.text-box:valid:active {
    border-color: var(--color-gray-700);
}

.show-error-blank-but-required .text-box:invalid {
    border-color: var(--color-red-500);
}

@media (hover: hover) {
    .show-error-blank-but-required .text-box:invalid:hover {
        border-color: var(--color-red-600);
    }
}

.show-error-blank-but-required .text-box:invalid:active {
    border-color: var(--color-red-700);
}