.toggle-switch {
    appearance: none;
    background-color: transparent;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    color: var(--color-gray-900);
    padding: 0;
    border: none;
    display: flex;
    align-items: flex-start;
    gap: var(--size-xs);
    border-radius: var(--size-3xs);
    text-align: left;
}

.toggle-switch__frame {
    pointer-events: none;
    width: 2rem;
    min-width: 2rem;
    max-width: 2rem;
}

.toggle-switch__background,
.toggle-switch__foreground {
    transition: all 150ms ease-out;
}

@media (hover: hover) {
    .toggle-switch:hover .toggle-switch__background,
    .toggle-switch:hover .toggle-switch__foreground {
        stroke: var(--color-gray-600);
    }
}

.toggle-switch:active .toggle-switch__background,
.toggle-switch:active .toggle-switch__foreground {
    stroke: var(--color-gray-700);
}

.toggle-switch[aria-checked="false"]:hover .toggle-switch__background {
    fill: var(--color-gray-200);
}

.toggle-switch[aria-checked="false"]:active .toggle-switch__background {
    fill: var(--color-gray-300);
}

.toggle-switch[aria-checked="true"] .toggle-switch__foreground {
    cx: 1.375rem;
}

.toggle-switch[aria-checked="true"] .toggle-switch__background {
    fill: var(--color-blue-600);
}

@media (hover: hover) {
    .toggle-switch[aria-checked="true"]:hover .toggle-switch__background {
        fill: var(--color-blue-700);
    }
}

.toggle-switch[aria-checked="true"]:active .toggle-switch__background {
    fill: var(--color-blue-800);
}

.toggle-switch--framed {
    width: 100%;
    padding: var(--size-md);
    border: var(--size-5xs) solid var(--color-gray-500);
    border-radius: var(--size-3xs);
}

.toggle-switch--framed[aria-checked="true"] {
    background-color: var(--color-blue-100);
}

@media (hover: hover) {
    .toggle-switch--framed:hover {
        background-color: var(--color-gray-100);
        border-color: var(--color-gray-600);
    }

    .toggle-switch--framed[aria-checked="true"]:hover {
        background-color: var(--color-blue-200);
    }
}

.toggle-switch--framed:active {
    background-color: var(--color-gray-200);
    border-color: var(--color-gray-700);
}

.toggle-switch--framed[aria-checked="true"]:active {
    background-color: var(--color-blue-300);
}

.toggle-switch--framed[aria-checked="true"]:active .toggle-switch__description {
    color: var(--color-gray-900);
}

@media (hover: hover) {
    .toggle-switch--framed:hover .toggle-switch__background,
    .toggle-switch--framed:hover .toggle-switch__foreground {
        stroke: var(--color-gray-500);
    }
}

.toggle-switch--framed:active .toggle-switch__background,
.toggle-switch--framed:active .toggle-switch__foreground {
    stroke: var(--color-gray-500);
}

.toggle-switch--framed[aria-checked="false"]:hover .toggle-switch__background,
.toggle-switch--framed[aria-checked="false"]:active .toggle-switch__background {
    fill: var(--color-gray-100);
}

.toggle-switch[aria-checked="true"] .toggle-switch__background,
.toggle-switch[aria-checked="true"]:active .toggle-switch__background {
    fill: var(--color-blue-600);
}

@media (hover: hover) {
    .toggle-switch[aria-checked="true"]:hover .toggle-switch__background {
        fill: var(--color-blue-600);
    }
}

.toggle-switch__content {
    display: flex;
    flex-direction: column;
    gap: var(--size-2xs);
}

.toggle-switch__label,
.toggle-switch__description {
    display: block;
}

.toggle-switch__content,
.toggle-switch__label,
.toggle-switch__description {
    pointer-events: none;
}

.toggle-switch__description {
    color: var(--color-gray-600);
    font-size: var(--size-sm);
    line-height: var(--size-lg);
}
