.annotation-list {
    counter-reset: annotations;
    
    & dt,
    & dd {
        margin-left: var(--size-5xl);
    }

    & dt {
        position: relative;
        padding: var(--size-3xs) 0;
        font-weight: 700;

        &::before {
            display: block;
            position: absolute;
            left: calc(-1 * var(--size-5xl));
            font-weight: 700;
            color: var(--color-blue-600);
            border: 1px solid var(--color-blue-600);
            background-color: var(--color-blue-100);
            font-size: var(--size-md);
            line-height: var(--size-md);
            padding: var(--size-2xs);
            text-align: center;
            min-width: var(--size-md);
            border-radius: 100%;
            top: 0;
            content: counter(annotations);
            counter-increment: annotations;
        }
    }

    & dd {
        margin-bottom: var(--size-xl);
    }
}