.color-swatches__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--size-3xl) var(--size-2xs);
    margin-bottom: 4rem;
}

.color-swatch {
    flex: 0 1 6rem;
    width: 0;
    color: var(--color-gray-900);
    text-decoration: none;

    &__preview {
        height: 0;
        margin-bottom: var(--size-2xs);
        padding-top: 100%;
    }

    &__name {
        font-weight: 700;
    }

    &__button-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0 var(--size-2xs);
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
}
