.annotation-list {
    counter-reset: annotations;

    & dt {
        position: relative;
        font-size: var(--size-lg);
        line-height: var(--size-xl);
        font-weight: 700;
        margin-bottom: var(--size-md);
    }

    & dd {
        margin-bottom: var(--size-xl);
        margin-left: 0;
    }

    &--numbered {
        & dt,
        & dd {
            margin-left: var(--size-5xl);
        }

        & dt {
            padding: var(--size-3xs) 0;
            font-size: var(--size-md);
            margin-bottom: 0;
        }

        & dt::before {
            display: block;
            position: absolute;
            left: calc(-1 * var(--size-5xl));
            font-weight: 700;
            color: var(--color-blue-600);
            border: var(--size-5xs) solid var(--color-blue-600);
            background-color: var(--color-blue-100);
            font-size: var(--size-md);
            line-height: var(--size-md);
            padding: calc(var(--size-2xs) - var(--size-5xs));
            text-align: center;
            min-width: var(--size-md);
            border-radius: 100%;
            top: 0;
            content: counter(annotations);
            counter-increment: annotations;
        }
    }

    &--small {
        & dt {
            font-size: var(--size-md);
            line-height: var(--size-lg);
            margin-bottom: var(--size-2xs);
        }
    }
}