.dos-donts {
    display: flex;
    flex-direction: row;
    gap: var(--size-3xs);
    margin-top: var(--size-2xl);
    padding-top: var(--size-2xs);
    border-top-width: var(--size-4xs);
    border-top-style: solid;
    font-weight: 700;

    &--do {
        border-top-color: var(--color-green-600);
        color: var(--color-green-600);
    }

    &--dont {
        border-top-color: var(--color-red-600);
        color: var(--color-red-600);
    }

    &--avoid {
        border-top-color: var(--color-yellow-600);
        color: var(--color-yellow-600);
    }
}