.figure {
    margin: 0;

    &__figure {
        margin: var(--size-4xl) 0;
        padding: var(--size-3xl);
        background-color: var(--color-white);
        border: var(--size-5xs) solid var(--color-gray-200);
        border-radius: var(--size-xs);
        box-shadow: var(--box-shadow-level-3);

        & > p:last-child,
        & > p:only-child {
            margin-bottom: 0;
        }
    }

    &__figure:has(+ &__caption) {
        margin-bottom: var(--size-md);
    }

    &__caption {
        color: var(--color-gray-600);
        margin-bottom: var(--size-3xl);
        font-size: var(--size-sm);
        line-height: var(--size-lg);
        margin-left: var(--size-xs);
        margin-right: var(--size-xs);
    }
}