{% from '../system-icon.njk' import render as systemIcon %}
{% from '../button.njk' import render as button %}

{% macro render(name, hex, figmaName, cssName) %}
<div class="color-swatch">
    <div class="color-swatch__preview" style="background-color: {{ hex | safe }}"></div>
    <div class="h4 color-swatch__name">{{ name }}</div>
    <ul class="color-swatch__button-list">
        <li>
            {{ button ({
                size: "xs",
                variant: "ghost",
                classes: "color-swatch__button",
                leftIcon: "copy",
                content: "Figma",
                attributes: {
                    "data-copy-text": figmaName,
                    "aria-label": "Copy Figma"
                }
            }) }}
            </li>
        <li>
            {{ button({
                size: "xs",
                variant: "ghost",
                classes: "color-swatch__button",
                leftIcon: "copy",
                content: "CSS",
                attributes: {
                    "data-copy-text": cssName,
                    "aria-label": "Copy CSS"
                }
            }) }}
        </li>
        <li>
            {{ button({
                size: "xs",
                variant: "ghost",
                classes: "color-swatch__button",
                leftIcon: "copy",
                content: "Hex",
                attributes: {
                    "data-copy-text": ( hex | safe),
                    "aria-label": "Copy Hex"
                }
            }) }}
        </li>
    </ul>
</div>
{% endmacro %}