{% from '../system-icon.njk' import render as systemIcon %}
{% from '../button.njk' import render as button %}

{% macro render(name, hex, figmaName, cssName, needsBg, localCss) %}
<div class="color-swatch">
    <div class="color-swatch__preview {{ 'color-swatch__preview--needs-bg' if needsBg }}">
        {%- if localCss -%}
            <span style="background-color: var({{ localCss | safe }})"></span>
        {% else %}
            <span></span>
        {%- endif -%}
    </div>
    <div class="color-swatch__name">{{ name }}</div>
    <ul class="color-swatch__button-list">
        <li>
            {{ button ({
                size: "xs",
                variant: "ghost",
                classes: "color-swatch__button",
                leftIcon: "copy",
                content: "Figma",
                attributes: {
                    "data-copy-text": figmaName,
                    "aria-label": "Copy Figma"
                }
            }) }}
            </li>
        <li>
            {{ button({
                size: "xs",
                variant: "ghost",
                classes: "color-swatch__button",
                leftIcon: "copy",
                content: "CSS",
                attributes: {
                    "data-copy-text": cssName,
                    "aria-label": "Copy CSS"
                }
            }) }}
        </li>
        <li>
            {{ button({
                size: "xs",
                variant: "ghost",
                classes: "color-swatch__button color-swatch__button--hex",
                leftIcon: "copy",
                content: "Hex",
                attributes: {
                    "aria-label": "Copy Hex"
                }
            }) }}
        </li>
    </ul>
</div>
{% endmacro %}