{% from '../system-icon.njk' import render as systemIcon %}

{% macro render(name, hex, figmaName, cssName) %}
<div class="color-swatch">
    <div class="color-swatch__preview" style="background-color: {{ hex | safe }}"></div>
    <div class="h4 color-swatch__name">{{ name }}</div>
    <ul class="color-swatch__button-list">
        <li>
            <button class="color-swatch__button" data-copy-text="{{ figmaName }}" aria-label="Copy Figma">
               {{ systemIcon("copy", "xs") }} Figma
            </button>
            </li>
        <li>
            <button class="color-swatch__button" data-copy-text="{{ cssName }}" aria-label="Copy CSS">
                {{ systemIcon("copy", "xs") }} CSS
            </button>
            </li>
        <li>
            <button class="color-swatch__button" data-copy-text="{{ hex | safe }}" aria-label="Copy Hex">
                {{ systemIcon("copy", "xs") }} Hex
            </button>
        </li>
    </ul>
</div>
{% endmacro %}