{% from '../system-icon.njk' import render as systemIcon %}

{% macro render(type = 'do') %}
    <div class="dos-donts dos-donts--{{ type }}">
        {%- if type == 'do' -%}
            {{ systemIcon('check-circle') }}
            Do
        {%- elseif type == 'dont' -%}
            {{ systemIcon('error') }}
            Don't
        {%- elseif type == 'avoid' -%}
            {{ systemIcon('warning') }}
            Avoid        
        {%- endif -%}
    </div>
{% endmacro %}

