{% macro render(options) %}
<a class="index-card" href="{{ options.href }}">
    <div class="index-card__title">{{ options.title }}</div>
    {% if options.description %}
        <div class="index-card__description">
            {{ options.description | safe }}
        </div>
    {% endif %}
</a>
{% endmacro %}