{% macro render(name, hex, figmaName, cssName) %}
<div class="swatch">
    <div class="swatch__preview" style="background-color: {{ hex | safe }}"></div>
    <div class="h4 swatch__name">{{ name }}</div>
    <ul class="swatch__button-list">
        <li>
            <button class="swatch__button swatch__figma-name" data-copy-text="{{ figmaName }}" aria-label="Copy Figma">
               {% include "../../../assets/img/system-icons/copy.svg" %} Figma
            </button>
            </li>
        <li>
            <button class="swatch__button swatch__css-name" data-copy-text="{{ cssName }}" aria-label="Copy CSS">
                {% include "../../../assets/img/system-icons/copy.svg" %} CSS
            </button>
            </li>
        <li>
            <button class="swatch__button swatch__hex" data-copy-text="{{ hex | safe }}" aria-label="Copy Hex">
                {% include "../../../assets/img/system-icons/copy.svg" %} Hex
            </button>
        </li>
    </ul>
</div>
{% endmacro %}

{% macro js() %}
<script src="/assets/js/swatch.js"></script>
{% endmacro %}