html {
    height: 100%;
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

@media screen and (min-width: 30rem) {
    body {
        min-height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: stretch;
    }

    main {
        flex: 1 1 calc(var(--ui-max-width) - var(--nav-width));
        padding: 2rem;
        overflow-wrap: anywhere;
    }
}