html {
    height: 100%;
    margin: 0;
}

* {
    box-sizing: border-box;
}

*:focus-visible, select:focus {
    outline-offset: var(--size-4xs);
    outline: var(--color-blue-500) solid var(--size-4xs);
    box-shadow: 0 0 0 var(--size-4xs) var(--color-white);
    border-radius: var(--size-3xs);
}

body {
    margin: 0;
}

a {
    border-radius: var(--size-3xs);
    display: inline-block;
    line-height: inherit;
    font-size: inherit;
    vertical-align: top;
}

a:link, a:visited {
    color: #0070d4;
    text-decoration: none;
}

a:active {
    color: #1E3D92;
    text-decoration: underline;
}

@media (hover: hover) {
    a:hover, a:hover:visited {
    color: #0E57B5;
    text-decoration: underline;
    }

    a:hover:active {
        color: #1E3D92;
    }
}
.main-content {
    display: flex;
    flex-direction: row;
    gap: var(--size-5xl);
}

.body-content {
    flex: 3 0;
}

.breadcrumbs {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: var(--size-sm);
    line-height: var(--size-md);
    margin-bottom: var(--size-2xs);
    color: var(--color-gray-700);
}

.breadcrumbs, .breadcrumbs li {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--size-3xs);
}

.breadcrumbs > li::after {
    content: "/";
}

article {
    max-width: 40rem;
}

section + section {
    margin-top: 4rem;
}

section:has(h2:only-child, h3:only-child, h4:only-child) + section {
    margin-top: 0;
}

figure {
    margin: 0 0 var(--size-xl);
}

@media screen and (min-width: 30rem) {
    body {
        min-height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: stretch;
    }

    main {
        flex: 1 1 calc(var(--ui-max-width) - var(--nav-width));
        padding: var(--size-5xl);
        overflow-wrap: anywhere;
    }
}