html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
body {
    font-family: var(--jw-b-font-family-default);
    font-size: var(--jw-b-font-size-md);
    line-height: var(--jw-b-line-height-md);
    color: var(--jw-s-color-text-default);
}

h1, .h1 {
    font-size: var(--jw-b-size-3xl);
    line-height: var(--jw-b-size-4xl);
    font-weight: 800;
    margin-top: 0;
    margin-bottom: var(--jw-b-size-xl);
}

h2, .h2 {
    font-size: var(--jw-b-size-xl);
    line-height: var(--jw-b-size-3xl);
    font-weight: 700;
    margin-top: 0;
    margin-bottom: var(--jw-b-size-md);
}


h3, .h3 {
    font-size: var(--jw-b-size-lg);
    line-height: var(--jw-b-size-xl);
    font-weight: 700;
    margin-top: 0;
    margin-bottom: var(--jw-b-size-md);
}

h4, .h4 {
    font-size: var(--jw-b-size-md);
    line-height: var(--jw-b-size-lg);
    font-weight: 700;
    margin-top: 0;
    margin-bottom: var(--jw-b-size-md);
}

p {
    margin-bottom: var(--jw-b-size-xl);
}

kbd {
    display: inline-block;
    padding: var(--jw-b-size-3xs);
    line-height: var(--jw-b-size-xs);
    font-size: var(--jw-b-size-xs);
    transform: translateY(calc(-1 * var(--jw-b-size-5xs)));
    vertical-align: baseline;
    background-color: var(--jw-b-color-gray-200);
    border-radius: var(--jw-b-size-3xs);
    font-family: monospace;
}

article {
    max-width: 40rem;
}

.bulleted-list {
    margin-top: 0;
    margin-bottom: var(--jw-b-size-3xl);
}

p + .bulleted-list {
    margin-top: calc(-1 * var(--jw-b-size-sm));
}

.bulleted-list > li + li {
    margin-top: var(--jw-b-size-3xs);
}
