@media screen and (min-width: 30rem) {
    .main-nav {
        flex: 0 0 16rem;
        padding: var(--jw-b-size-xl) var(--jw-b-size-3xl);
        background-color: var(--jw-s-color-bg-neutral-subtle);
        height: 100vh;
        height: 100dvh;
        overflow-y: auto;
        position: sticky;
        left: 0;
        top: 0;
    }

    .main-nav__home, .main-nav__home:visited  {
        display: block;
        color: var(--jw-b-color-gray-900);
        text-decoration: none;
        font-size: var(--jw-b-size-md);
        line-height: var(--jw-b-size-lg);
        font-weight: 700;
        margin-top: 0;
        margin-bottom: var(--jw-b-size-md);
    }

    .main-nav__list {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }    

    .main-nav__list-item + .main-nav__list-item {
        margin-top: var(--jw-b-size-2xs);
    }

    .main-nav__list-item > .main-nav__list {
        margin-left: var(--jw-b-size-md);
        margin-bottom: var(--jw-b-size-md);
        margin-top: var(--jw-b-size-3xs);
    }

    .main-nav__list-item > .main-nav__list > .main-nav__list-item + .main-nav__list-item {
        margin-top: var(--jw-b-size-3xs);
    }

    .main-nav__link:link, .main-nav__link:visited {
        color: var(--jw-b-color-gray-600);
        text-decoration: none;
    }

    .main-nav__link:hover {
        color: var(--jw-b-color-gray-700);
    }

    .main-nav__link:active {
        color: var(--jw-b-color-gray-800);
    }
}