.toc__heading {
    margin-top: calc(-1 * var(--size-3xl));
    padding-top: var(--size-3xl);
}

.toc__container {
    flex: 1 0;
    order: 2;
    position: sticky;
    top: var(--size-3xl);
    right: var(--size-3xl);
    align-self: flex-start;
}

.toc ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.toc ol li + li {
    margin-top: var(--size-2xs);
}

.toc li > ol {
    margin-left: var(--size-md);
    margin-bottom: var(--size-md);
    margin-top: var(--size-3xs);
}

.toc ol li > ol > li + li {
    margin-top: var(--size-3xs);
}



.toc .current {
    background-color: var(--color-blue-100);
    border-left: var(--size-4xs) solid var(--color-blue-600);
}

.toc li a {
    padding: var(--size-2xs);
    border-radius: 0;
    border-left: var(--size-4xs) solid transparent;
}