{%- macro render(options) -%}
    {% set classes %}
        {% if options.classes %}
            {% if options.classes == (options.classes | string) %}
                {{ options.classes }}
            {% else %}
                {{ options.classes | join(' ') }}
            {% endif %}
        {% endif %}
    {% endset %}
    {% set gap = (options.gap | default("3xl")) %}
    {% set alignItems = (options.alignItems | default("normal")) %}

    <div
        class="stack stack--gap-{{ gap }} stack--align-items-{{ alignItems }} {{ classes }}"
        {% for key, value in options.attributes %}
            {{ key }}="{{ value | safe }}"
        {% endfor %}
    >
        {{ caller() | safe }}
    </div>
{%- endmacro -%}