---
title: Avatar
eleventyNavigation: 
    key: Avatar
    parent: Components
    order: 1
    excerpt: "Show a person in the system, with their photo or initials."
---
{% extends '../_includes/layout.njk' %}

{% block content %}
    <article>
        {% call stack() %}
            {% call row({ alignItems: "center" }) %}
                {{ avatar({
                    fullName: "Meredith Palmer",
                    size: "xs"
                }) }}
                {{ avatar({
                    fullName: "Ryan Howard",
                    size: "sm"    
                }) }}
                {{ avatar({
                    fullName: "Kelly Kapoor",
                    size: "md"    
                }) }}
                {{ avatar({
                    fullName: "Creed Bratton",
                    size: "lg"    
                }) }}
                {{ avatar({
                    fullName: "Pam Beesly",
                    size: "xl"    
                }) }}
                {{ avatar({
                    fullName: "Michael Scott",
                    size: "2xl"    
                }) }}
            {% endcall %}
            {% call row({ alignItems: "center" }) %}
                {{ avatar({
                    fullName: "Meredith Palmer",
                    size: "xs",
                    photoUrl: "/assets/img/components/avatar/meredith-palmer.jpg"
                }) }}
                {{ avatar({
                    fullName: "Ryan Howard",
                    size: "sm",
                    photoUrl: "/assets/img/components/avatar/ryan-howard.jpg"    
                }) }}
                {{ avatar({
                    fullName: "Kelly Kapoor",
                    size: "md",
                    photoUrl: "/assets/img/components/avatar/kelly-kapoor.jpg"
                }) }}
                {{ avatar({
                    fullName: "Creed Bratton",
                    size: "lg",
                    photoUrl: "/assets/img/components/avatar/creed-bratton.jpg"
                }) }}
                {{ avatar({
                    fullName: "Pam Beesly",
                    size: "xl",
                    photoUrl: "/assets/img/components/avatar/pam-beesly.jpg"
                }) }}
                {{ avatar({
                    fullName: "Michael Scott",
                    size: "2xl",
                    photoUrl: "/assets/img/components/avatar/michael-scott.jpg"    
                }) }}
            {% endcall %}
        {% endcall %}
    </article>
{% endblock %}