---
title: Badge
eleventyNavigation: 
    key: Badge
    parent: Components
    order: 2
---
{% extends '../_includes/layout.njk' %}

{% block content %}
    <article>
        {% call stack () %}
            {% call row() %}
                {{ badge({
                    content: "Badge",
                    size: "md",
                    color: "brand",
                    emphasis: "strong"
                }) }}
                {{ badge({
                    content: "Badge",
                    size: "md",
                    color: "danger",
                    emphasis: "strong"
                }) }}
                {{ badge({
                    content: "Badge",
                    size: "md",
                    color: "warning",
                    emphasis: "strong"
                }) }}
                {{ badge({
                    content: "Badge",
                    size: "md",
                    color: "success",
                    emphasis: "strong"
                }) }}
                {{ badge({
                    content: "Badge",
                    size: "md",
                    color: "new",
                    emphasis: "strong"
                }) }}
                    {{ badge({
                    content: "Badge",
                    size: "md",
                    color: "neutral",
                    emphasis: "strong"
                }) }}
            {% endcall %}
            {% call row() %}
                {{ badge({
                    content: "Badge",
                    size: "md",
                    color: "brand",
                    emphasis: "subtle"
                }) }}
                {{ badge({
                    content: "Badge",
                    size: "md",
                    color: "danger",
                    emphasis: "subtle"
                }) }}
                {{ badge({
                    content: "Badge",
                    size: "md",
                    color: "warning",
                    emphasis: "subtle"
                }) }}
                {{ badge({
                    content: "Badge",
                    size: "md",
                    color: "success",
                    emphasis: "subtle"
                }) }}
                {{ badge({
                    content: "Badge",
                    size: "md",
                    color: "new",
                    emphasis: "subtle"
                }) }}
                    {{ badge({
                    content: "Badge",
                    size: "md",
                    color: "neutral",
                    emphasis: "subtle"
                }) }}
            {% endcall %}
            {% call row() %}
                {{ badge({
                    content: "Badge",
                    size: "sm",
                    color: "brand",
                    emphasis: "strong"
                }) }}
                {{ badge({
                    content: "Badge",
                    size: "sm",
                    color: "danger",
                    emphasis: "strong"
                }) }}
                {{ badge({
                    content: "Badge",
                    size: "sm",
                    color: "warning",
                    emphasis: "strong"
                }) }}
                {{ badge({
                    content: "Badge",
                    size: "sm",
                    color: "success",
                    emphasis: "strong"
                }) }}
                {{ badge({
                    content: "Badge",
                    size: "sm",
                    color: "new",
                    emphasis: "strong"
                }) }}
                    {{ badge({
                    content: "Badge",
                    size: "sm",
                    color: "neutral",
                    emphasis: "strong"
                }) }}
            {% endcall %}
            {% call row() %}
                {{ badge({
                    content: "Badge",
                    size: "sm",
                    color: "brand",
                    emphasis: "subtle"
                }) }}
                {{ badge({
                    content: "Badge",
                    size: "sm",
                    color: "danger",
                    emphasis: "subtle"
                }) }}
                {{ badge({
                    content: "Badge",
                    size: "sm",
                    color: "warning",
                    emphasis: "subtle"
                }) }}
                {{ badge({
                    content: "Badge",
                    size: "sm",
                    color: "success",
                    emphasis: "subtle"
                }) }}
                {{ badge({
                    content: "Badge",
                    size: "sm",
                    color: "new",
                    emphasis: "subtle"
                }) }}
                    {{ badge({
                    content: "Badge",
                    size: "sm",
                    color: "neutral",
                    emphasis: "subtle"
                }) }}
            {% endcall %}
        {% endcall %}
    </article>
{% endblock %}