---
title: Button
eleventyNavigation: 
    key: Button
    parent: Components
    order: 3
---
{% extends '../_includes/layout.njk' %}

{% block content %}
    {% call stack() %}
        {% call row() %}
            {{ button({
                content: "This is a filled button"
            }) }}
            {{ button({
                content: "This is an outlined button",
                variant: "outlined"
            }) }}
            {{ button({
                content: "This is a ghost button",
                variant: "ghost"
            }) }}
        {% endcall %}
            {% call row() %}
            {{ button({
                content: "Buttons can have no icons"
            }) }}
            {{ button({
                content: "Or an icon on the left",
                variant: "outlined",
                leftIcon: "undo"
            }) }}
            {{ button({
                content: "Or an icon on the right",
                variant: "ghost",
                rightIcon: "arrow-right"
            }) }}
            {{ tooltip({
                trigger: button({
                    variant: "ghost",
                    leftIcon: "grid"
                }),
                content: "Or just an icon"
            }) }}
        {% endcall %}
                {% call row() %}
            {{ button({
                content: "Buttons can be small",
                size: "sm"
            }) }}
            {{ button({
                content: "This helps them fit into tight spaces",
                variant: "outlined",
                size: "sm"
            }) }}
            {{ button({
                content: "Like into a row of a list",
                variant: "ghost",
                size: "sm"
            }) }}
        {% endcall %}
        {% call row() %}
            {{ button({
                content: "Buttons can be disabled",
                disabled: true
            }) }}
            {{ button({
                content: "Even if they're outlined",
                variant: "outlined",
                disabled: true
            }) }}
            {{ button({
                content: "Or ghost",
                variant: "ghost",
                disabled: true
            }) }}
        {% endcall %}
    {% endcall %}
{% endblock %}

{% set localJs %}
    /*
        Disable aria-disabled buttons on this page
        Note that in real life there might be other earlier click events on here that these won't catch
    */
    let disabledButtons = document.querySelectorAll('.button[aria-disabled="true"]');

    disabledButtons.forEach((button) => {
        button.addEventListener('click', (e) => {
            e.preventDefault();
            e.stopImmediatePropagation();
        });
    });
{% endset %}