---
title: Checkbox
eleventyNavigation: 
    key: Checkbox
    parent: Components
    order: 3
---
{% extends '../_includes/layout.njk' %}

{% block content %}
    <article>
        {% call stack() %}
            {{ checkbox({
                content: "Check me out"
            }) }}

            {{ checkbox({
                content: "I've been framed!",
                description: "Here's some extra context.",
                framed: true
            }) }}

            {{ checkbox({
                content: "Check me out",
                required: true
            }) }}

            {{ checkbox({
                content: "I've been framed!",
                description: "Here's some extra context.",
                framed: true,
                required: true
            }) }}

        {% call row() %}
            {% call stack() %}
                {{ checkbox({
                    content: "Leave me alone ...I'm disabled",
                    disabled: true
                }) }}

                {{ checkbox({
                    content: "I've been framed!",
                    description: "But I too am disabled",
                    framed: true,
                    disabled: true
                }) }}
            {% endcall %}

            {% call stack() %}
                {{ checkbox({
                    content: "Leave me alone ...I'm disabled",
                    disabled: true,
                    checked: true
                }) }}

                {{ checkbox({
                    content: "I've been framed!",
                    description: "But I too am disabled",
                    framed: true,
                    disabled: true,
                    checked: true
                }) }}
            {% endcall %}
        {% endcall %}
    {% endcall %}
    </article>
{% endblock %}

{% set localJs %}
    /*
        Disable aria-disabled checkboxes on this page
        Note that in real life there might be other earlier click events on here that these won't catch
    */
    let disabledCheckboxes = document.querySelectorAll('.checkbox__control[aria-disabled="true"]');

    disabledCheckboxes.forEach((checkbox) => {
        checkbox.addEventListener('click', (e) => {
            e.preventDefault();
            e.stopImmediatePropagation();
        });
    });
{% endset %}