---
title: Date inputs
eleventyNavigation: 
    key: Date inputs
    parent: Components
    order: 5
    excerpt: "Different ways to ask someone for a month, day, and year (not necessarily in that order)."
---
{% extends '../_includes/layout.njk' %}

{% block content %}
    <article>
        <h2>Memorable date input</h2>
        <p>Useful when a date picker or calendar isn't all that helpful, usually because you're entering a specific date far in the past or future. Avoids user uncertainty around acceptable date formats—although we do recommend ordering the fields, and populating their labels and data, as appropriate for the user's locale.</p>
        {% call stack() %}
            {{ memorableDate({
                label: "Date of birth",
                required: false
            }) }}

            {{ memorableDate({
                label: "Geburtsdatum",
                required: false,
                locale: "de_DE"
            }) }}
        {% endcall %}
    </article>
{% endblock %}

{% set localJs %}
    /*
        Disable aria-disabled select boxes on this page
        Note that in real life there might be other earlier click events on here that these won't catch
    */
    let disabledSelectBoxes = document.querySelectorAll('.select-box[aria-disabled="true"]');
    
    disabledSelectBoxes.forEach((selectBox) => {
        selectBox.addEventListener('mousedown', (e) => {
            e.preventDefault();
            e.stopImmediatePropagation();
        });

        selectBox.addEventListener('keydown', (e) => {
            e.preventDefault();
            e.stopImmediatePropagation();
        });
    });

    /*
        Disable aria-disabled text boxes on this page
        Note that in real life there might be other earlier click events on here that these won't catch
    */
    let disabledTextBoxes = document.querySelectorAll('.text-box[aria-disabled="true"]');
    
    disabledTextBoxes.forEach((textBox) => {
        textBox.addEventListener('mousedown', (e) => {
            e.preventDefault();
            e.stopImmediatePropagation();
        });

        textBox.addEventListener('focus', (e) => {
            e.preventDefault();
            e.stopImmediatePropagation();
        });

        textBox.addEventListener('keydown', (e) => {
            e.preventDefault();
            e.stopImmediatePropagation();
        });
    });
{% endset %}