---
title: Divider
eleventyNavigation: 
    key: Divider
    parent: Components
    order: 4
---
{% extends '../_includes/layout.njk' %}

{% block content %}
    <article>
        {{ divider("xs") }}
        {{ divider("sm") }}
        {{ divider("md") }}
        {{ divider("lg") }}
    </article>
{% endblock %}