---
title: File input
eleventyNavigation: 
    key: File input
    parent: Components
    order: 7
    excerpt: "Drop a file or two in the box."
---
{% extends '../_includes/layout.njk' %}

{% block content %}
    <article>
        {% call stack() %}
            {{ fileInput({
                label: "Single file input"
            }) }}

            {{ fileInput({
                label: "Multiple file input",
                multiple: true
            }) }}

            {{ fileInput({
                label: "Only accepts application/pdf MIME type",
                accept: "application/pdf, .pdf",
                maxFileSize: "1000"
            }) }}
        {% endcall %}
    </article>
{% endblock %}