---
title: Input message
eleventyNavigation: 
    key: Input message
    parent: Components
    order: 8
---
{% extends '../_includes/layout.njk' %}

{% block content %}
    <article>
        {% call stack() %}
            {{ inputMessage("help", "This is a help message") }}
            {{ inputMessage("error", "This is an error message") }}
            {{ inputMessage("warning", "This is a warning message") }}
            {{ inputMessage("success", "This is a success message") }}
        {% endcall %}
    </article>
{% endblock %}