---
title: Input label
eleventyNavigation: 
    key: Input label
    parent: Components
    order: 7
---
{% extends '../_includes/layout.njk' %}

{% block content %}
    <article>
        {% call stack() %}
            {{ inputLabel("Required field label", true, "dummy-id-1") }}
            {{ inputLabel("Optional field label", false, "dummy-id-2") }}
        {% endcall %}
    </article>
{% endblock %}