---
title: Menu
eleventyNavigation: 
    key: Menu
    parent: Components
    order: 10
    excerpt: "Expose a list of actions or destinations."
---
{% extends '../_includes/layout.njk' %}

{% block content %}
    <article>
        {% call stack() %}
            <div>
                {{ menu({
                    trigger: button({ content: "Click me", rightIcon: "caret-down" }),
                    menuItems: [
                        {
                            title: "Delete",
                            href: "javascript: console.log('item 1');"
                        },
                        {
                            title: "Duplicate",
                            onClick: "javascript: console.log('item 2'); return false;"
                        },
                        {
                            title: "An example of a really, really long menu item label",
                            href: "javascript: console.log('item 1');"
                        },
                        {
                            title: "I'm disabled"
                        },
                                        {
                            title: "Delete",
                            href: "javascript: console.log('item 1');"
                        },
                        {
                            title: "Cancel",
                            onClick: "javascript: console.log('item 2'); return false;"
                        },
                                        {
                            title: "Delete",
                            href: "javascript: console.log('item 1');"
                        },
                        {
                            title: "Duplicate",
                            onClick: "javascript: console.log('item 2'); return false;"
                        }
                    ]
                }) }}
            </div>
        {% endcall %}
    </article>
{% endblock %}
