---
title: Multi-select
eleventyNavigation: 
    key: Multi-select
    parent: Components
    order: 11
    excerpt: "Choose one or more, and hide the options when you're not choosing."
---
{% extends '../_includes/layout.njk' %}

{% block content %}
{% endblock %}