---
title: Radio button
eleventyNavigation: 
    key: Radio button
    parent: Components
    order: 9
---
{% extends '../_includes/layout.njk' %}

{% block content %}
    <article>
        {% call stack() %}
            {% call stack({ gap: "xs" }) %}
                {{ radioButton({
                    name: "radio-group-1",
                    content: "Radio gaga"
                }) }}
                {{ radioButton({
                    name: "radio-group-1",
                    content: "Radio googoo"
                }) }}
            {% endcall %}
            
            {% call stack({ gap: "xs" }) %}
                {{ radioButton({
                    name: "radio-group-2",
                    content: "Choose me",
                    description: "Here's some extra context.",
                    framed: true
                }) }}
                {{ radioButton({
                    name: "radio-group-2",
                    content: "No, choose me!",
                    description: "Here's some extra context.",
                    framed: true
                }) }}
            {% endcall %}

            <div class="show-error-blank-but-required">
                {% call stack({ gap: "xs" }) %}
                    {{ radioButton({
                        name: "radio-group-3",
                        content: "These three have an error state if you leave them blank",
                        required: true
                    }) }}
                    {{ radioButton({
                        name: "radio-group-3",
                        content: "Because they're required, you see",
                        required: true
                    }) }}
                    {{ radioButton({
                        name: "radio-group-3",
                        content: "But only if they're in a container with a certain CSS class",
                        required: true
                    }) }}
                {% endcall %}
            </div>

            {% call stack({ gap: "xs" }) %}
                {{ radioButton({
                    name: "radio-group-4",
                    content: "This one is disabled",
                    disabled: true
                }) }}
                {{ radioButton({
                    name: "radio-group-4",
                    content: "And so is this one",
                    disabled: true,
                    checked: true
                }) }}
            {% endcall %}
        {% endcall %}
    </article>
{% endblock %}