---
title: Radio button
eleventyNavigation: 
    key: Radio button
    parent: Components
    order: 11
---
{% extends '../_includes/layout.njk' %}

{% block content %}
    <article>
        {% call stack() %}
            {% call stack({ gap: "xs" }) %}
                {{ radioButton({
                    name: "radio-group-1",
                    content: "Radio gaga"
                }) }}
                {{ radioButton({
                    name: "radio-group-1",
                    content: "Radio googoo"
                }) }}
            {% endcall %}
            
            {% call stack({ gap: "xs" }) %}
                {{ radioButton({
                    name: "radio-group-2",
                    content: "Choose me",
                    description: "Here's some extra context.",
                    framed: true
                }) }}
                {{ radioButton({
                    name: "radio-group-2",
                    content: "No, choose me!",
                    description: "Here's some extra context.",
                    framed: true
                }) }}
            {% endcall %}

            <div class="show-error-blank-but-required">
                {% call stack({ gap: "xs" }) %}
                    {{ radioButton({
                        name: "radio-group-3",
                        content: "These three have an error state if you don't pick one",
                        required: true
                    }) }}
                    {{ radioButton({
                        name: "radio-group-3",
                        content: "Because they're required, you see",
                        required: true
                    }) }}
                    {{ radioButton({
                        name: "radio-group-3",
                        content: "But only if they're in a container with a certain CSS class",
                        required: true
                    }) }}
                {% endcall %}
            </div>

            {% call stack({ gap: "xs" }) %}
                {{ radioButton({
                    name: "radio-group-4",
                    content: "This one is disabled",
                    disabled: true
                }) }}
                {{ radioButton({
                    name: "radio-group-4",
                    content: "And so is this one (even though it's selected)",
                    disabled: true,
                    checked: true
                }) }}
            {% endcall %}

            {% call stack({ gap: "xs" }) %}
                {{ radioButton({
                    name: "radio-group-5",
                    content: "This one is disabled",
                    description: "Here's some extra context.",
                    disabled: true,
                    framed: true
                }) }}
                {{ radioButton({
                    name: "radio-group-5",
                    content: "And so is this one (even though it's selected)",
                    description: "Here's some extra context.",
                    disabled: true,
                    checked: true,
                    framed: true
                }) }}
            {% endcall %}
        {% endcall %}
    </article>
{% endblock %}

{% set localJs %}
    /*
        Disable aria-disabled radio buttons on this page
        Note that in real life there might be other earlier click events on here that these won't catch
    */
    let disabledRadioButtons = document.querySelectorAll('.radio-button__control[aria-disabled="true"]');

    disabledRadioButtons.forEach((radioButton) => {
        radioButton.addEventListener('click', (e) => {
            e.preventDefault();
            e.stopImmediatePropagation();
        });
    });
{% endset %}