---
title: Select
eleventyNavigation:
    key: Select
    parent: Components
    order: 1
---
{% extends '../_includes/layout.njk' %}

{% block content %}
<p>Lorem ipsum odor amet, consectetuer adipiscing elit. Auctor torquent fringilla natoque conubia ridiculus viverra orci enim posuere. Blandit ligula montes est litora efficitur odio fringilla curabitur auctor. Curabitur platea sapien facilisi netus tortor varius varius. Gravida a dolor sit, cursus hac sollicitudin vel augue aptent. Aliquet ex tempus quis lorem odio risus dui aliquet. Sagittis magna placerat dictum felis varius suscipit massa. Consectetur leo montes dui sit sollicitudin pretium. Sociosqu volutpat nisl, ut montes finibus purus. Sollicitudin convallis a nunc aptent elit nibh potenti.</p>

{% call stack() %}
    {% call select({
        label: "Favorite fruit",
        required: true
    }) %}
        <optgroup label="Apples">
            <option>Granny Smith</option>
            <option>McIntosh</option>
            <option>Pink Lady</option>
            <option>Red Delicious</option>
        </optgroup>
        <optgroup label="Oranges">
            <option>Cara Cara</option>
            <option>Mandarin</option>
            <option>Navel</option>
            <option>Valencia</option>
        </optgroup>
    {% endcall %}

    <div class="submitted">
        {% call select({ 
            label: "Favorite fruit",
            required: true,
            messages: [{
                type: "error",
                message: "Choose your favorite fruit"
            }]
        }) %}
            <optgroup label="group">
                <option name="dffsd">sfssdfsdfs</option>
                <option name="dffsd">sfssdfsdfs</option>
                <option name="dffsd">sfssdfsdfs</option>
                <option name="dffsd">sfssdfsdfs</option>
            </optgroup>
        {% endcall %}
    </div>
{% endcall %}

{% endblock content %}

{% set localJs %}
(() => {
    // clear error message when empty "post-submit" select is updated
    let emptyInvalid = document.querySelector('.submitted .select');
    emptyInvalid.addEventListener("change", (e) => {
        if(e.target.checkValidity) {
            e.target.parentElement.nextElementSibling.style.display = 'none';
        }
    });
})();
{% endset %}