---
title: Text box
eleventyNavigation: 
    key: Text box
    parent: Components
    order: 13
---
{% extends '../_includes/layout.njk' %}

{% block content %}

    {% call stack() %}
        {{ textBox({
            label: "Enter a value",
            helpText: "You must use only numbers (0-9)",
            attributes: { pattern: "\\d+" }
        }) }}
        
        {# <div class="show-error-blank-but-required">
            {{ textBox({ required: true }) }}
        </div> #}
    {% endcall %}
{% endblock %}