---
title: Textarea
eleventyNavigation: 
    key: Textarea
    parent: Components
    order: 12
---
{% extends '../_includes/layout.njk' %}

{% block content %}
    <article>
        {{ textarea({
            label: "This is a textarea",
            helpText: "It's used when you expect answers that are multiple lines long"
        }) }}
    </article>
{% endblock %}