---
title: Text box
eleventyNavigation: 
    key: Text box
    parent: Components
    order: 18
    excerpt: "Get a few words from people."
---
{% extends '../_includes/layout.njk' %}

{% block content %}
    <article>
        {% call stack() %}
            {{ textBox({
                label: "Enter a value"
            }) }}

            {{ textBox({
                label: "Enter a value",
                helpText: "Just kidding, this is disabled",
                disabled: true
            }) }}
        {% endcall %}
    </article>
{% endblock %}

{% set localJs %}
    /*
        Disable aria-disabled text boxes on this page
        Note that in real life there might be other earlier click events on here that these won't catch
    */
    let disabledTextBoxes = document.querySelectorAll('.text-box[aria-disabled="true"]');
    
    disabledTextBoxes.forEach((textBox) => {
        textBox.addEventListener('mousedown', (e) => {
            e.preventDefault();
            e.stopImmediatePropagation();
        });

        textBox.addEventListener('focus', (e) => {
            e.preventDefault();
            e.stopImmediatePropagation();
        });

        textBox.addEventListener('keydown', (e) => {
            e.preventDefault();
            e.stopImmediatePropagation();
        });
    });
{% endset %}