---
title: Toggle switch
eleventyNavigation: 
    key: Toggle switch
    parent: Components
    order: 12
---
{% extends '../_includes/layout.njk' %}

{% block content %}
    {{ toggleSwitch({ content: "Toggle me" }) }}
{% endblock %}