---
title: Tooltip
eleventyNavigation:
    key: Tooltip
    parent: Components
    order: 2
---
{% extends '../_includes/layout.njk' %}

{% block content %}
    <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Habitant himenaeos ex vivamus platea condimentum placerat habitasse nostra phasellus. Purus lacus metus at ultricies nam. Nam ridiculus facilisi dapibus ut rutrum dui dui quisque. Sodales curae hendrerit iaculis urna aliquam tortor suscipit a ante. Torquent praesent potenti natoque lacinia dolor ante penatibus sodales. Leo donec et cubilia est torquent magnis varius tempor. Egestas ornare velit nostra turpis conubia tellus semper bibendum urna.</p>
    <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Habitant himenaeos ex vivamus platea condimentum placerat habitasse nostra phasellus. Purus lacus metus at ultricies nam. Nam ridiculus facilisi dapibus ut rutrum dui dui quisque. Sodales curae hendrerit iaculis urna aliquam tortor suscipit a ante. Torquent praesent potenti natoque lacinia dolor ante penatibus sodales. Leo donec et cubilia est torquent magnis varius tempor. Egestas ornare velit nostra turpis conubia tellus semper bibendum urna.</p>

    {{ tooltip({
        trigger: "Look at me",
        content: "I've got a tooltip! Even if this tooltip gets really long, it's got a max-width of 16rem, aka 256px at default zoom and font size."
    }) }}

    {{ tooltip({
        trigger: button({ content: "Look at me" }),
        content: "I've got a tooltip! Even if this tooltip gets really long, it's got a max-width of 16rem, aka 256px at default zoom and font size.",
        placement: 'left-end'
    }) }}

    {{ tooltip({
        trigger: button({ content: "Look at me" }),
        content: "I've got a tooltip! Even if this tooltip gets really long, it's got a max-width of 16rem, aka 256px at default zoom and font size.",
        placement: 'left'
    }) }}

    {{ tooltip({
        trigger: button({ content: "Look at me" }),
        content: "I've got a tooltip! Even if this tooltip gets really long, it's got a max-width of 16rem, aka 256px at default zoom and font size.",
        placement: 'left-start'
    }) }}

    {{ tooltip({
        trigger: button({ content: "Look at me" }),
        content: "I've got a tooltip! Even if this tooltip gets really long, it's got a max-width of 16rem, aka 256px at default zoom and font size.",
        placement: 'top-end'
    }) }}

    {{ tooltip({
        trigger: button({ content: "Look at me" }),
        content: "I've got a tooltip! Even if this tooltip gets really long, it's got a max-width of 16rem, aka 256px at default zoom and font size.",
        placement: 'top'
    }) }}

    {{ tooltip({
        trigger: button({ content: "Look at me" }),
        content: "I've got a tooltip! Even if this tooltip gets really long, it's got a max-width of 16rem, aka 256px at default zoom and font size.",
        placement: 'top-start'
    }) }}

    {{ tooltip({
        trigger: button({ content: "Look at me" }),
        content: "I've got a tooltip! Even if this tooltip gets really long, it's got a max-width of 16rem, aka 256px at default zoom and font size.",
        placement: 'right-end'
    }) }}

    {{ tooltip({
        trigger: button({ content: "Look at me" }),
        content: "I've got a tooltip! Even if this tooltip gets really long, it's got a max-width of 16rem, aka 256px at default zoom and font size.",
        placement: 'right'
    }) }}

        {{ tooltip({
        trigger: button({ content: "Look at me" }),
        content: "I've got a tooltip! Even if this tooltip gets really long, it's got a max-width of 16rem, aka 256px at default zoom and font size.",
        placement: 'right-start'
    }) }}

    {{ tooltip({
        trigger: button({ content: "Look at me" }),
        content: "I've got a tooltip! Even if this tooltip gets really long, it's got a max-width of 16rem, aka 256px at default zoom and font size.",
        placement: 'bottom-end'
    }) }}

    {{ tooltip({
        trigger: button({ content: "Look at me" }),
        content: "I've got a tooltip! Even if this tooltip gets really long, it's got a max-width of 16rem, aka 256px at default zoom and font size.",
        placement: 'bottom'
    }) }}


    {{ tooltip({
        trigger: button({ content: "Look at me" }),
        content: "I've got a tooltip! Even if this tooltip gets really long, it's got a max-width of 16rem, aka 256px at default zoom and font size.",
        placement: 'bottom-start'
    }) }}

    <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Habitant himenaeos ex vivamus platea condimentum placerat habitasse nostra phasellus. Purus lacus metus at ultricies nam. Nam ridiculus facilisi dapibus ut rutrum dui dui quisque. Sodales curae hendrerit iaculis urna aliquam tortor suscipit a ante. Torquent praesent potenti natoque lacinia dolor ante penatibus sodales. Leo donec et cubilia est torquent magnis varius tempor. Egestas ornare velit nostra turpis conubia tellus semper bibendum urna.</p>
    <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Habitant himenaeos ex vivamus platea condimentum placerat habitasse nostra phasellus. Purus lacus metus at ultricies nam. Nam ridiculus facilisi dapibus ut rutrum dui dui quisque. Sodales curae hendrerit iaculis urna aliquam tortor suscipit a ante. Torquent praesent potenti natoque lacinia dolor ante penatibus sodales. Leo donec et cubilia est torquent magnis varius tempor. Egestas ornare velit nostra turpis conubia tellus semper bibendum urna.</p>

{% endblock %}