---
title: Tooltip
eleventyNavigation:
    key: Tooltip
    parent: Components
    order: 17
---
{% extends '../_includes/layout.njk' %}

{% block content %}
    <article>
        {{ tooltip({
            trigger: "Look at me",
            content: "I've got a tooltip! Even if this tooltip gets really long, it's got a max-width of 16rem, aka 256px at default zoom and font size."
        }) }}

        {{ tooltip({
            trigger: button({ content: "Look at me" }),
            content: "I've got a tooltip! Even if this tooltip gets really long, it's got a max-width of 16rem, aka 256px at default zoom and font size."
        }) }}
    </article>
{% endblock %}