.index-cards__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--size-3xl);
}

.index-cards__list > .index-card {
    flex: 0 0 calc(25% - var(--size-xl));
}

.index-card {
    display: block;
    border: var(--size-5xs) solid var(--color-gray-300);
    border-radius: var(--size-3xs);
    padding: var(--size-xl);
    box-shadow: var(--box-shadow-level-1);
}

.index-card,
.index-card:visited,
.index-card:hover,
.index-card:active,
.index-card:visited:hover,
.index-card:visited:active {
    text-decoration: none;
    color: var(--color-gray-900);
}

.index-card__title {
    font-size: var(--size-lg);
    line-height: var(--size-lg);
    font-weight: 700;
    margin-bottom: var(--size-md);
}

.index-card:hover {
    border-color: var(--color-gray-400);
    box-shadow: var(--box-shadow-level-2);
    transition: transform 150ms ease-out;
    transform: scale(1.0025) translateY(calc(-1 * var(--size-4xs)));
}