---
title: Buttons and links
eleventyNavigation:
    key: Buttons and links
    parent: Patterns
    order: 1
---
{% extends '../_includes/layout.njk' %}

{% block content %}
<article>
    <h2>When to use a button or a link</h2>

    <p>Buttons and links behave differently, because they have different purposes:</p>
    <ul class="bulleted-list">
        <li><strong>Buttons are for actions:</strong> showing content on the page that was previously hidden, playing a video, or submitting a form, and so on.</li>
        <li><strong>Links are for movement:</strong> taking the user to a new page, or new section of the current page</li>
    </ul>
    <p>Because of their different purposes, buttons and links behave differently in both browsers and screen readers. Some examples include:</p>
    <ul class="bulleted-list">
        <li>A link points to a specific URL that can be shared, bookmarked, saved in your browser history, and reopened later—but a button doesn't</li>
        <li>Links can be opened in a new tab, buttons can’t</li>
        <li>Links have a concept of whether or not they’ve been visited, buttons don’t</li>
        <li>Most browsers show a link's target URL in the bottom-left corner on hover or focus; but don't do that for buttons</li>
        <li>Focused buttons can be activated (i.e. clicked on) with the <kbd>Space</kbd> key, or the <kbd>Enter</kbd> or <kbd>Return</kbd> key; focused links can only be activated with <kbd>Enter</kbd> or <kbd>Return</kbd></li>
        <li>Some screen readers collect all links on the page in one section of their interface, and all buttons or form controls in another</li>
    </ul>
    <p>Put together, those different purposes, and resulting different behaviors, mean that...</p>
    <div class="button-vs-link-demo">
        <div>
            {{ anchor("...if this looks like a link, but acts like a button...", "javascript:return false;", class = "link-demo") }}
        </div>
        <div>
            {{ button("...or if this looks like a button, but acts like a link...", class = "button-demo") }}
        </div>
    </div>
    <p>...we might have some work to do.</p>
</article>
{% endblock %}

{% set localCss %}
.button-vs-link-demo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--jw-b-size-3xl);
    align-items: center;
}

.button-vs-link-demo > div {
    flex: 1 0;
    width: 100%;
}
{% endset %}