---
title: Empty states
eleventyNavigation:
    key: Empty states
    parent: Patterns
    order: 1
---
{% extends '../_includes/layout.njk' %}

{% block content %}
<h1>{{ title }}</h1>
{% endblock %}