---
title: Patterns
eleventyNavigation:
    key: Patterns
    parent: Home
    order: 3
---
{% extends '../_includes/layout.njk' %}

{% set cards = collections.all | eleventyNavigationWithExcerpts("Patterns") %}

{% block content %}
    {% call grid({ alignItems: "stretch", rowGap: "3xl" }) %}
        {% for cardData in cards %}
            {% call gridCell({ spans: { xs: 12, sm: 6, lg: 3 } }) %}
                {{ indexCard({
                    href: cardData.url,
                    title: cardData.title,
                    description: cardData.excerpt
                }) }}
            {% endcall %}
        {% endfor %}
    {% endcall %} 
{% endblock %}