---
title: Patterns
eleventyNavigation:
    key: Patterns
    parent: Home
    order: 3
---
{% extends '../_includes/layout.njk' %}

{%
    set cards = [
        {
            'title': 'Buttons and links',
            'description': "Buttons and links have different purposes, and thus different behaviors and uses.",
            'href': 'buttons-and-links/'
        },
        {
            'title': 'Empty states',
            'description': "Because sometimes you have a place for content, but no content to put there.",
            'href': 'empty-states/'
        },
        {
            'title': 'Loading states',
            'description': "Because sometimes content can't be shown right away.",
            'href': 'loading-states/'
        },
        {
            'title': 'Tabs and friends',
            'description': "We used to use tabs for a lot of different things. We shouldn't though.",
            'href': 'tabs-and-friends/'
        }
    ]
%}

{% block content %}

<div class="list--cards">
    {% for cardData in cards %}
        {{ card(cardData.title, cardData.description, cardData.href) }}
    {% endfor %}
</div>
{% endblock %}