---
title: Loading states
eleventyNavigation:
    key: Loading states
    parent: Patterns
    order: 3
---
{% extends '../_includes/layout.njk' %}

{% block content %}
    <article>
        <p>{{ spinner() }}</p>
        <p style="margin-bottom: 0.5rem">{{ skeleton('image', { width: '100px', height: '100px', borderRadius: 'md' }) }}</p>
        <p>
            {{ skeleton('text', { width: '400px'}) }}<br />
            {{ skeleton('text', { width: '500px'}) }}<br />
            {{ skeleton('text', { width: '400px'}) }}
        </p>
    </article>
{% endblock %}