---
title: Loading states
eleventyNavigation:
    key: Loading states
    parent: Patterns
    order: 2
---
{% extends '../_includes/layout.njk' %}

{% block content %}
<h1>{{ title }}</h1>
{% endblock %}