---
title: Tabs and friends
eleventyNavigation:
    key: Tabs and friends
    parent: Patterns
    order: 3
---
{% extends '../_includes/layout.njk' %}
{% block content %}
<h1>{{ title }}</h1>
{% endblock %}