---
title: Design tokens
eleventyNavigation:
    key: Tokens
    title: Design tokens
    parent: Home
    order: 5
---
{% extends '../_includes/layout.njk' %}
{% block content %}
<h1>{{ title }}</h1>
{% endblock %}