---
title: Design tokens
eleventyNavigation:
    key: Tokens
    title: Design tokens
    parent: Home
    order: 5
---
{% extends '../_includes/layout.njk' %}

{%
    set cards = [
        {
            'title': 'Space',
            'description': 'The space between / The tears we cry / Is the laughter, keeps us coming back for more',
            'href': 'space/'
        },
        {
            'title': 'Color',
            'description': 'Color makes the world a lot less boring',
            'href': 'color/'
        },
        {
            'title': 'Typography',
            'description': 'Believe it or not, most of the content of a UI is text. Gotta make it beautiful and functional.',
            'href': 'typography/'
        }
    ]
%}

{% block content %}
<div class="list--cards">
    {% for cardData in cards %}
        {{ card({
            href: cardData.href,
            title: cardData.title,
            description: cardData.description
        }) }}
    {% endfor %}
</div>
{% endblock %}