---
title: Typography
eleventyNavigation:
    key: Typography
    parent: Tokens
    order: 3
    excerpt: Believe it or not, most of the content of a UI is text. Gotta make it beautiful and functional.
---
{% extends '../_includes/layout.njk' %}

{% block content %}
{% endblock %}