---
title: Typography
eleventyNavigation:
    key: Typography
    parent: Tokens
    order: 3
    excerpt: Believe it or not, most of the content of a UI is text. Gotta make it beautiful and functional.
---
{% extends '../_includes/layout.njk' %}

{% block content %}
<div class="h1">Heading 1</div>
<div class="h2">Heading 2</div>
<div class="h3">Heading 3</div>
<div class="h4">Heading 4</div>
<div class="h5">Heading 5</div>
<p>Paragraph. Lorem ipsum odor amet, consectetuer adipiscing elit. Odio dis potenti orci nascetur id; cursus per. At turpis sagittis eu etiam convallis vestibulum fermentum. Arcu class etiam aliquam non adipiscing sociosqu. Nascetur pellentesque magnis elementum posuere montes justo. Praesent curae ultricies habitant dapibus praesent porttitor amet imperdiet.</p>
<p class="paragraph--large">Large paragraph. Lorem ipsum odor amet, consectetuer adipiscing elit. Odio dis potenti orci nascetur id; cursus per. At turpis sagittis eu etiam convallis vestibulum fermentum. Arcu class etiam aliquam non adipiscing sociosqu. Nascetur pellentesque magnis elementum posuere montes justo. Praesent curae ultricies habitant dapibus praesent porttitor amet imperdiet.</p>
<p class="paragraph--small">Small paragraph. Lorem ipsum odor amet, consectetuer adipiscing elit. Odio dis potenti orci nascetur id; cursus per. At turpis sagittis eu etiam convallis vestibulum fermentum. Arcu class etiam aliquam non adipiscing sociosqu. Nascetur pellentesque magnis elementum posuere montes justo. Praesent curae ultricies habitant dapibus praesent porttitor amet imperdiet.</p>

{% endblock %}