.row {
    display: flex;
    flex-direction: row;
}

.row--gap-2xs {
    gap: var(--size-2xs);   
}

.row--gap-xs {
    gap: var(--size-xs);   
}

.row--gap-md {
    gap: var(--size-md);   
}

.row--gap-xl {
    gap: var(--size-xl);   
}

.row--gap-3xl {
    gap: var(--size-3xl);   
}

.row--gap-6xl {
    gap: var(--size-6xl);   
}