---
permalink: assets/css/main.css
---
{%-
    set files = [
        'oately',
        'tokens',
        'typography',
        'layout',
        'main',
        'includes/main-nav',
        'includes/toc',
        'components/anchor',
        'components/avatar',
        'components/badge',
        'components/button',
        'components/checkbox',
        'components/display-icon',
        'components/divider',
        'components/input-label',
        'components/input-message',
        'components/notice',
        'components/page-header',
        'components/radio-button',
        'components/select',
        'components/spinner',
        'components/skeleton',
        'components/stepper',
        'components/system-icon',
        'components/toggle-switch',
        'components/tooltip',
        'components/layout/stack',
        'components/meta/color-swatch',
        'components/meta/dos-donts',
        'components/meta/index-card',
        'components/meta/space-swatch',
        'components/meta/toast'
    ]
-%}
{%- set css -%}
    {%- for file in files -%}
        {%- include "./assets/css/" + file + ".css" -%}
    {%- endfor -%}
{%- endset -%}

{{- css | cssmin | safe -}}