.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

    &--gap-5xs {
        gap: var(--size-4xs);
    }

    &--gap-4xs {
        gap: var(--size-4xs);
    }

    &--gap-3xs {
        gap: var(--size-3xs);
    }

    &--gap-2xs {
        gap: var(--size-2xs);
    }

    &--gap-xs {
        gap: var(--size-xs);
    }

    &--gap-md {
        gap: var(--size-md);
    }

    &--gap-xl {
        gap: var(--size-xl);
    }

    &--gap-3xl {
        gap: var(--size-3xl);
    }

    &--gap-6xl {
        gap: var(--size-6xl);
    }

    &--align-items {
        &-center {
            align-items: center;
        }

        &-flex-start {
            align-items: flex-start;
        }

        &-flex-end {
            align-items: flex-end;
        }

        &-normal {
            align-items: normal;
        }

        &-stretch {
            align-items: stretch;
        }
    }
}
