.stack {
    display: flex;
    flex-direction: column;

    &--gap-2xs {
        gap: var(--size-2xs);
    }

    &--gap-xs {
        gap: var(--size-xs);
    }

    &--gap-md {
        gap: var(--size-md);
    }

    &--gap-xl {
        gap: var(--size-xl);
    }

    &--gap-3xl {
        gap: var(--size-3xl);
    }

    &--gap-6xl {
        gap: var(--size-6xl);
    }
}
